
<div>
   <div class="myHomeUpgradeSection">
      <div class="popl_container">
         <div class="upgrade__wrap">
            <div class="upgrade__thumb d-desktop">
               <img src="/popl/images/upgrade_popl_800x.webp" alt="Popl" loading="lazy">
            </div>
            <div class="upgrade__content">
               <h1>Upgrade to Popl and start networking better today</h1>
               <a href="/collections/all-products" class="l-btn">Buy Now</a>
            </div>
         </div>
      </div>
   </div>
</div>