@model IList<MyProductOverviewModel>
@inject DisplayOrderHomePage order 

<div class="myHomePageProductContainer">
    
    <div class="container featured_products product-grid">
        <div class="sixteen columns center homepage_content">
            <div class="title-grid">
                <p>@Loc["zap.homepage.products.header.title1"]</p>
                <a href="/collections/best-sellers">
                    <h2 class="title">@Loc["zap.homepage.products.header.link"]</h2>
                </a>
                <p>@Loc["zap.homepage.products.header.title2"]</p>
            </div>
        </div>
    </div>

    <div class="catalog_product_items_container">
        @foreach (var item in Model)
        {
            item.IsInHomePage = true;
            <partial name="_MyCatalogProductView" model="item" />
        }
    </div>


    <div class="btn-container" style="margin-bottom: 100px">
        <a href="/shop-all" class="btn-feature shadow" style="background-color: #000000">@Loc["zap.homepage.products.all_product_link"]</a>
    </div>
</div>

