@model IList<MyProductOverviewModel>
@inject DisplayOrderHomePage order 

<div>
    <h2 class="generalTitle text-center">@Loc["HomePage.Products"]</h2>
    <div class="catalog_product_items_container">
        @foreach (var item in Model)
        {
            <partial name="_CatalogProductView" model="item" />
        }
    </div>
</div>

