@model IList<MyProductOverviewModel>
@inject SeoSettings seoSettings
@inject IPageHeadBuilder pagebuilder
@{
    Layout = "_PoplSingleColumn";

}

<div class="catalog_product_items_container">
    @foreach (var item in Model)
    {
        <partial name="_MyCatalogProductView" model="item" />
    }
</div>
