
$dir : null !default;

.header{
    display:flex;
    align-items:center;
    position:fixed;
    top:0;
    background:#fff;
    width:100%;
    z-index:1000;
    max-height:89px;
}

.main-nav-container {
    order: 1;

    @include bp {
        order: 2;

        //در حالت غیر موبایل، تاپ نو، باید تا جای ممکن همه فضا را بگیرد
        flex: 1 100%;
    }

    &[data-ismobile='true'] {
        order: 1;
        flex: none;

        ~ .header-logo-container {
            //وقتی هنوز موبایل مد نیست اما تاپ نو، دو خطه شده و یک دکمه شده، قسمت لوگو باید بیشترین فضا را بگیره که دکمه جستجو بچسبه سمت راست راست
            flex: 1 100%;
        }
    }
}

.header-logo-container {
    order: 2;

    //حالت پیش فرض، موبایل، لگو باید کل فضای ممکن را بگیره که دکمه جستجو بچسبه راست راست
    flex: 1 100%;

    @include bp {
        order: 1;

        //وقتی موبایل نیست، تاپ نو، کل صفحه را می گیره
        flex:none;
    }
}

.header-search-container{
    order:3;
}

.header-actions-container {
    order: 4;
}

.menu {
    direction: $dir;
    background-color: if($dir=='rtl', red, black);
}


//main nav and toggle it ----------------------
@import "_header/_main_nav.scss";
//---------------------------------------------


//top action items ----------------------------
@import "_header/_action_items.scss";
//---------------------------------------------

//logo ----------------------------------------
@import "_header/_logo.scss";
//---------------------------------------------



//SidebarShoppingCart.cshtml-----------------------------------------------
.slide-fade-enter-active {
    //transition: all .3s ease;

    animation: heartBeat; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 3s; /* don't forget to set a duration! */

    background: #17a2b8;
}

.slide-fade-leave-active {
    //transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);

    animation: zoomOut; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s; /* don't forget to set a duration! */
}

.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active for <2.1.8 */ {
    //transform: translateX(10px);
    //opacity: 0;
}