
$dir: ltr !default;
$persianFont: IRANSans !default;
$leftRight: if($dir==rtl,right,left);
$leftRightRevers: if($dir==rtl,left, right);

.myHomeUpgradeSection {
    position: relative;
    padding: 0.0625rem 0 4.85938rem;

    .popl_container {
        padding: 0 50px;
    }

    .upgrade__wrap {

        @include bp {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        @include bps(991) {
            flex-direction: row;
            justify-content: space-between;
        }

        .upgrade__thumb {
            margin-bottom: .9375rem;

            @include bps(991) {
                width: 50%;
                flex: 0 0 50%;
                margin: 0;
            }
        }
    }

    .d-desktop {
        display: none;

        @include bp {
            display: block;
            margin-bottom: 0.9375rem
        }

        img {
            width: 315.89px;
            margin-#{$leftRight}: 68px;
            filter: drop-shadow(0 28.64px 45.49px #00000040);

            @include bp {
                margin-#{$leftRight}: 0;
            }

            @include bps(991) {
                margin-#{$leftRight}: 68px;
            }
        }
    }

    .upgrade__content {
        text-align: $leftRight;

        @include bp {
            text-align: center;
        }

        @include bps(991) {
            width: 50%;
            flex: 0 0 50%;
            text-align: $leftRight;
        }

        h1 {
            font-size: 1.875em;
            line-height: 1.25;
            letter-spacing: -0.56px;
            font-family: if($dir==rtl,$persianFont,"Gilroy500");
            font-weight: 500;
            margin-bottom: 3.125rem;
            text-align: $leftRight;
            max-width: 279px;

            @include bp {
                max-width: 100%;
                margin-top: 1.875rem;
            }
        }

        .l-btn {
            width: 215px;
            height: 55px;
            border-radius: 740px;
            background-color: #000000;
            color: #ffffff;
            font-weight: 600;
            font-family: "Inter";
            font-size: 18px;
            line-height: 21.78px;
            letter-spacing: -0.02em;
            padding: 16.5px 70px;
            text-transform: capitalize;
            box-shadow: 0 4px 7px 0 rgb(0 0 0 / 20%);
            min-width: 14.375rem;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
    }
}
