
.myHomWhoItWorkSection::after {
    content: " ";
    position: absolute;
    background-image: url(/popl/images/BG-Mob.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 208vw;
    left: 0;
    top: 1957px;
    width: 100%;
    z-index: 2;
    pointer-events: none;
}

.myHomWhoItWorkSection {
    position: relative;
    padding: 0.8125rem 0 4.875rem;

    .work__head {
        margin-bottom: 2.5rem;

        .l-title {
            color: #121212;
            font-weight: 500;
            font-family: "Gilroy500";
            font-size: 29.4px;
            line-height: 36.75px;
            letter-spacing: -0.56px;
            text-align: center;
            margin-bottom: 0.6875rem;
        }
    }

    .work__cards {
        display: flex;
        justify-content: space-between;
        text-align: center;
        margin-bottom: 0.75rem;
        flex-wrap: wrap;

        .work__card {
            margin-bottom: 4.625rem;
            width: 100%;

            @include bp {
                width: calc(50% - 30px);
            }

            @include bps(991) {
                width: calc(25% - 30px);
            }
        }

        .work__thumb {
            margin-bottom: 2.25rem;

            @include bp {
                margin-bottom: 3.5625rem;
            }

            img {
                width: 236px;
                height: auto;
                max-height: 224px;
                transform: none;

                @include bp {
                    transform: scale(1.2);
                    width: 190.32px;
                    height: 135.45px;
                }
            }
        }

        .work__content {
            h3 {
                font-size: 0.9375em;
                line-height: 1.21;
                font-weight: 600;
                font-family: "Inter";
                letter-spacing: -0.5px;
                margin: 0 auto;
                max-width: 56%;
                margin-bottom: 0.75rem;

                @include bp {
                    max-width: 80%;
                }
            }

            .work__link {
                font-weight: 500;
                font-family: "Inter";
                color: #767676;
                text-decoration: none;
                position: relative;
                padding-right: 1.25rem;
                font-size: 0.8125em;
                line-height: 1.73077;
                letter-spacing: -0.25px;
                width: max-content;
                margin: 0 auto;
            }
        }
    }

    .work__numbers {
        font-family: "Gilroy600";
        font-weight: 900;
        height: 53.14px;
        width: 53.14px;
        border: 1.5px solid rgba(0, 0, 0, 0.7);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        margin-bottom: 8px;
        font-weight: 500;
        color: #000000;
        opacity: 1;
    }

    .work__start {
        text-align: center;
        margin: 0 auto;
        display: flex;
        flex-direction: column;

        .custom_download--label {
            color: #8c8c8c;
            font-family: "Gilroy400";
            font-weight: 400;
            font-size: 17px;
            line-height: 25px;
            margin-bottom: 28px;

            @include bp {
                display: none;
            }
        }

        .work__start--download {
            display: inline-flex;
            margin: 0 auto;
            flex-direction: column;

            @include bp {
                flex-direction: row;
            }

            .l-app-tag {
                width: 100%;
                margin-right: 0;
                margin-bottom: 2px;
                display: inline-block;

                img {
                    width: 275px;
                    height: 55px;
                    object-fit: contain;
                    margin-right: 0;
                    margin-bottom: 2px;
                }
            }
        }
    }
}
