

$dir: ltr !default;
$persianFont: IRANSans !default;
$leftRight: if($dir==rtl,right,left);
$leftRightRevers: if($dir==rtl,left, right);
$rightLeft: if($dir==rtl,left,right);

.myHomePageProductContainer {
    padding: 60px 45px;

    .container {
        padding: 0 25px;
        width: auto;
        max-width: 74.375rem;
        margin: 0 auto;
        position: relative;
    }

    .center {
        text-align: center;
    }

    .sixteen {
        width: calc(100% - 20px);
    }

    .title-grid {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 13px 0;

        @include bps(991) {
            padding-bottom: 48px;
        }

        & > * {
            width: 100%;
            margin: 0 5px;
            font-weight: 700;
        }
    }



    .btn-container {
        display: flex;
        justify-content: center;
        margin-top: inherit;

        @include bps(991) {
            margin-top: 0;
        }

        a {
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 23px;
            color: #fff;
            background: #1DADEB;
            border-radius: 100px;
            padding: 17px 74px 16px;
            margin-top: 10px;

            @include bps(991) {
                margin-top: 0;
            }
        }
    }
}

.catalog_product_items_container {
    @include flexbox;
    flex-flow: row wrap;
    align-content: space-around;
    max-width:1440px;
    margin:0 auto;
}

.catalog_product_item {
    padding: 5px;
    margin: 0 auto;
    flex: 0 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include bp(medium) {
        flex: 0 25%;
    }

    .product-title {
        font-weight: 700;
        font-size: 16px;
        line-height: 21px;
        text-align: center;
        color: #000;
        margin-top: 0;

        span {
            @include bp() {
                display: none;
            }
        }
    }
}

.catalog_product_item-imageSection {
    position: relative;

    .product-label {
        position: absolute;
        left: 2px;
        top: 10px;
        z-index: 9;
    }

    .img_container {
        min-height: 200px;
    }

    &:hover {
        .thumbnail-overlay.active_overlay {
            opacity: 1;
        }

        .product-details {
            transform: none;
            opacity: 1;
        }
    }

    .thumbnail-overlay {
        /*حالت پیش فرض یعنی موبایل نیازی به این نیست*/
        display: none;
    }


    @include bp(medium) {

        .thumbnail-overlay {
            display: block;
            opacity: 0;
            background-color: #000000b3;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            transition: opacity 0.3s ease-in;
            border-radius: 20px;
        }
    }



    .product-details-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        @include flexbox;
        @include flex-direction(column);
        @include justify-content(center);
        @include align-items(center);
    }

    .product-details {
        position: relative;
        opacity: 0;
        transform: translateY(-100%);
        transition: opacity 0.3s ease-out, transform 0.3s ease-out;
        color: white;
    }
}

.catalog_product_item-detailSection{

    @include bp(medium){
        display:none;
    }
}

.catalog_product_item-purchaseSection {
    color: #121212;


    .btnAddToCart {
        background: #000;
        border: solid 2px #000;
        border-radius: 100px;
        color: #fff;
        padding: 0 15px;
        font-weight: 700;
        min-height: 36px;
        display: flex;
        align-items: center;

        &:hover {
            box-shadow: 6px 10px 25px #00000030, 0 6px 20px #00000030;
        }

        .add-cart-text.onlyPersian {
            margin-left: 12px;
            padding-left: 12px;
            border-left: 1px solid rgba(255,255,255,0.38);
            font-size: 12px;
            white-space: nowrap;
        }

        .add-cart-text.onlyEnglish {
                margin-right: 12px;
                padding-right: 12px;
                border-right: 1px solid rgba(255,255,255,0.38);
                font-size: 12px;
                white-space: nowrap;
        }
    }
}

.atalog_product_item-colorOptionsSection {
    display: flex;
    justify-content: center;
    margin: 20px auto;

    .color-container {
        cursor: pointer;
        background: #fff;
        width: 30px;
        height: 30px;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        outline: 0;
        align-items: center;

        &.selected {
            border: solid 2px #000;
        }

        .myColor {
            width: 24px;
            height: 24px;
            min-width: 24px;
            border-radius: 50px;
            border: #e2e2e2 1px solid;
        }
    }
}


/* for andimation add to card button */
@keyframes zoomOut {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }

    to {
        opacity: 0;
    }
}

.zoomOut {
    animation-name: zoomOut;
    animation-fill-mode: forwards; /* get style of last frame and remain on that style */
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translate3d(0, -20px, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.fadeInDown {
    animation-name: fadeInDown;
    animation-fill-mode: forwards; /* get style of last frame and remain on that style */
}




/* Animation for checkmark on add to cart button */
button.btnAddToCart {
    position:relative;
}

button.btnAddToCart .add-cart-text {
    animation-duration: 0.5s;
}

button.btnAddToCart .fadeInDown.add-cart-text {
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
}


button[disabled], input[disabled] {
    cursor: default;

    &:hover{
        box-shadow:none !important;
    }
}

button .checkmark {
    max-width: 90px;
    margin-#{$leftRight}: 40px;

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

button .checkmark path {
    stroke-dasharray: 19.79 19.79;
    stroke-dashoffset: 19.79;
    stroke: #ffffff;
    opacity: 0;
}

button .checkmark.checkmark-active path {
    -webkit-animation: drawCheckmark 0.5s linear alternate forwards;
    animation: drawCheckmark 0.5s linear alternate forwards;
}

@keyframes drawCheckmark {
    from {
        stroke-dashoffset: 19.79;
        opacity: 1;
    }

    to {
        stroke-dashoffset: 0;
        opacity: 1;
    }
}

@-webkit-keyframes drawCheckmark {
    from {
        stroke-dashoffset: 19.79;
        opacity: 1;
    }

    to {
        stroke-dashoffset: 0;
        opacity: 1;
    }
}

.ie
button
.checkmark path {
    stroke-dashoffset: 0;
    opacity: 0;
}

.ie
button
.checkmark.checkmark-active path {
    -webkit-animation: fadeCheckmark 0.5s linear alternate forwards;
    animation: fadeCheckmark 0.5s linear alternate forwards;
}

@-webkit-keyframes fadeCheckmark {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeCheckmark {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    button
    .checkmark path {
        stroke-dashoffset: 0;
        opacity: 0;
    }

    button
    .checkmark.checkmark-active path {
        animation: fadeCheckmark 0.5s linear alternate forwards;
    }

    @keyframes fadeCheckmark {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
}

