$dir: ltr !default;
$persianFont: IRANSans !default;
$leftRight: if($dir==rtl,right,left);
$leftRightReverse: if($dir==rtl,left,right);

.myHomeMission {
    position: relative;



    .popl_container {
        padding: 0 if($dir==rtl,48px,37px) 0 if($dir==rtl,37px,48px);
    }

    .mission__wrap_out {
        padding: 3.375rem 0 3.8125rem;
    }

    .mission__head {
        margin-bottom: 0.8125rem;

        h1 {
            color:black;
            font-size: 36px;
            font-weight: bold;
            font-family: if($dir==rtl,$persianFont,"Gilroy400");
            letter-spacing: 1.87px;
            line-height: 42.42px;
            text-align: $leftRight;
            opacity: 0.6;
            text-transform: uppercase;

            @include bp {
                font-size: 26px;
                letter-spacing: 2.2px;
                line-height: 50px;
                opacity: .7;
            }
        }
    }

    .mission__hero {
        margin-bottom: 5rem;
        z-index: 2;

        @include bps(991) {
            order: 2;
            flex: 0 0 calc(43% - 15px);
        }

        h2 {
            font-size: 24px;
            letter-spacing: -0.56px;
            line-height: 37.5px;
            text-align: $leftRight;
            font-weight: 500;
            font-family: if($dir==rtl,$persianFont,"Gilroy500");
            max-width: 316px;

            @include bp {
                width: 100%;
            }

            @include bps(991) {
                font-size: 24px;
                letter-spacing: -.8px;
                line-height: 45px;
                max-width: 864px;
            }
        }
    }

    .mission__wrap {
        display: flex;
        flex-direction: column;

        @include bps(991) {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    .mission__content {
        margin-bottom: 3.875rem;
        order: 2;

        @include bps(991) {
            order: 1;
            width: calc(44% - 15px);
            flex: 0 0 calc(44% - 15px);
        }


        p {
            font-size: 20px;
            letter-spacing: -0.25px;
            line-height: 30.36px;
            margin-bottom: 1.875rem;
            margin-top: 0;
            font-family: if($dir==rtl,$persianFont,"Inter");
            text-align: $leftRight;
        }
    }

    .mission__gallery {
        order: 1;
        z-index: 0;

        @include bps(991) {
            order: 2;
            z-index: -4;
        }

        .d-desktop {
            display: none;
            margin-top: -174px;
            max-width: 613px;

            @include bp {
                display: block;
            }

            img {
                margin-left: -43px;
            }
        }

        .d-mob {
            display: block;

            @include bp {
                display: none;
            }
        }

        .mission__thumb {
            margin-top: -123px;
            transform: scale(1.2);
            margin-bottom: 0.625rem;
        }
    }
}
