
$dir: ltr !default;
$persianFont: IRANSans !default;
$leftRight: if($dir==rtl,right,left);
$leftRightReverse: if($dir==rtl,left,right);

.popl_footer {
    position: relative;
    direction: $dir;
    background-color: #121212;
    padding: 20px 0 4.6875rem;
    font-size: inherit;
    font-weight: 600;
    border-top: solid 1px #1b1f23;
    background-position: center center;
    color: #fff;
    font-weight: 600;


    a {
        line-height: 1.47059;
        text-transform: capitalize;
        color: #fff;
        text-decoration: none;
        font-size: 14px;
        cursor: pointer;
    }

    .logo {
        text-align: center;
        margin-bottom: 10px;

        img {
            width: 120px;

        }

        a{
            display:block;
            margin-top:10px;
        }
    }

    .links_section_container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        text-align: $leftRight;
        max-width: 1200px;
        margin: auto;



        div {


            &:nth-child(2n+1) {
                width: calc(50% - 1px);
            }

            &:nth-child(2n) {
                width: calc(50% + 1px);
            }


            @include bps(640) {
                &:nth-child(3n+1) {
                    width: calc(50% - 50px);
                    padding-right: 10%;
                }

                &:nth-child(3n+2) {
                    width: calc(30% + 50px);
                }

                &:nth-child(3n+3) {
                    width: 20%;
                }
            }

            li {
                font-size: 14px;

                a {
                    font-size: 14px;
                    color:white;
                }

                span {
                    font-size: 14px;
                    color: white;
                }
            }
        }

        .section-header {
            color: #aaa;
            font-size: 16px;
        }

        .footer-social {
            display: flex;

            img {
                width: 22px;
                margin: 10px 2px;
            }
        }
    }

    .footer-right {
        text-align: center;
        position: absolute;
        bottom: 5px;
        width: 100%;
        font-size: 12px;
    }
}
