$dir: ltr !default;
$persianFont: IRANSans !default;
$leftRight: if($dir==rtl,right,left);
$leftRightRevers: if($dir==rtl,left, right);

.myPoplFeatures {
    padding: 1.125rem 0 0rem;
    background: rgba(196,196,196,.1);
    position: relative;
}

.features__head {
    margin-bottom: 2.37625rem;

    .features__logo {
        width: 5.9375rem;
        margin: 0 auto;
        margin-bottom: 4.97625rem;
        display: block;
        position: absolute;
        left: 50%;
        top: -70px;
        transform: translate(-50%);


        img {
            width: 100%;
            height: auto;
        }
    }

    .features__title {
        padding-top: 63px;

        h2 {
            font-weight: 500;
            letter-spacing: -.56px;
            font-size: 1.8375em;
            line-height: 1.25;
            text-transform: inherit;
            text-align: center;
            font-family: Gilroy500;


            margin: 0;
            color: #121212;
            padding: 0;
        }
    }
}

.features__tabs {

    .d-desktop {
        display: none;
    }

    ._forDesk {
        display: none;
    }

    .tabs-nav {
        display: flex;
        border-bottom: 0.0625rem solid rgba(18,18,18,.1);
        position: sticky;
        top: 5.56rem;
        background: #F9F9F9;
        justify-content: center;
        z-index: 255;
        border: none;
        margin: 0;
        padding: 0;
        list-style: disc outside;

        li {
            width: 26%;
            flex: 0 0 26%;
            position: relative;
            list-style: none;
            margin-bottom: 0rem;

            &.tab-active {
                background-color: #e8e8e8;
                border-radius: 11px;
                outline: none;
            }

            a {
                padding: 1.025rem 19px 1.35rem;
                color: inherit;
                text-decoration: none;
                font-size: .85em;
                line-height: 1.10294;
                font-weight: 700;
                letter-spacing: .24px;
                text-align: center;
                display: block;
                height: 100%;
                position: relative;
                top: 0.125rem;
                background-color: transparent;
            }

            .tab__thumbnail {
                width: 1.5625rem;
                height: 1.5625rem;
                margin: 0 auto;
                margin-bottom: 0.625rem;
            }

            img {
                width: 19px;
                height: 22px;
            }
        }
    }

    .tabs-stage {
        padding: 2.9375rem 0 4.25rem;

        .dontShowWithScale {
            transform: scale(0);
            height: 0;
            opacity: 0;
        }

        .tab__content {
            transition: opacity 1s ease-in;
        }

        .tab__content-head {
            margin-#{$leftRight}: 42px;
            margin-bottom: 15px;
            text-align: $leftRight;

            h3 {
                font-size: 1.625em;
                line-height: 1.25;
                font-weight: 600;
                letter-spacing: -.56px;
                font-family: Gilroy600;
            }
        }

        .tab__content-details {
            margin-bottom: 1.8125rem;
            color: #121212;
            text-align: $leftRight;
        }

        .tab__content-wrap {
            display: flex;
            flex-direction: column;

            .tab__left {
                order: 2;
            }

            .tab__right {
                order: 1;

                .tab__thumb {
                    max-width: 17.5625rem;
                    margin: 0 auto;
                    line-height: 0;
                }

                .tab__btn-wrap {
                    margin-top: 55px;
                    margin-bottom: 57px;
                    text-align: center;
                }
            }
        }

        .l-btn {
            font-family: Inter;
            height: 3.4375rem;
            font-weight: 600;
            letter-spacing: -.02em;
            font-size: 1.125em;
            line-height: 1.22222;
            text-transform: capitalize;
            background-color: #000;
            border-radius: 740px;
            padding: 16.5px 109.5px;
            color: #fff;
            text-decoration: none;
            box-shadow: 0 4px 7px #0003;
            min-width: 14.375rem;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }

        .l-tag {
            display: flex;
            margin-bottom: 2.5rem;
            margin-left: 7%;
            margin-right: 7%;

            img {
                margin-#{$leftRightRevers}: 1.125rem;
                width: 3.0625rem;
                height: 2.4375rem;
                object-fit: contain;
            }

            .l-tag__details {
                h4 {
                    font-family: Inter;
                    font-size: 1.125em;
                    line-height: 1.38889;
                    font-weight: 600;
                    letter-spacing: -.5px;
                    margin-bottom: 0.25rem;
                    text-align: $leftRight;
                }

                p {
                    font-size: 1em;
                    line-height: 1.4;
                    text-align: $leftRight;
                }
            }
        }
    }
}