
$dir: ltr !default;
$persianFont: IRANSans !default;
$leftRight: if($dir==rtl,right,left);
$leftRightReverse: if($dir==rtl,left,right);

.popl_footer {
    direction: $dir;
    background-color: #121212;
    padding: 4.25rem 0 4.6875rem;
    font-size: inherit;
    font-weight: 600;
    border-top: solid 1px #1b1f23;
    background-position: center center;
    color: #fff;
    font-weight: 600;


    a {
        line-height: 1.47059;
        text-transform: capitalize;
        color: #fff;
        text-decoration: none;
        font-size: 16px;
        cursor: pointer;
    }

    .logo {
        text-align: center;

        img {
            width: 120px;
        }
    }

    .links_section_container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        text-align: $leftRight;
        max-width:900px;
        margin:auto;


        div {
            flex: 1;
            flex-basis: 33%;
            min-width: 200px;
        }
    }

    .footer__wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align: $leftRight;

        .footer__column {
            width: 100%;
            flex: 0 0 100%;

            &:nth-child(n+2):nth-child(-n+3) {
                margin-bottom: 3.3125rem;
            }

            .footer__link-head {
                margin-bottom: 1.1875rem;

                p {
                    font-weight: 600;
                    font-size: 16px;
                    color: #999;
                }
            }

            .footer__links {
                margin: 0 auto;

                ul {
                    display: block;
                    columns: 3;
                    -webkit-columns: 3;
                    height: auto;
                    float: left;
                    width: 100%;
                    padding: 0;
                    list-style-type: none;
                    list-style: none;
                    margin: 0;
                }
            }
        }

        .fooer__logo {
            width: 100%;
            margin: 0 auto;
            margin-bottom: 2.8125rem;
            display: inline-flex;
            flex-direction: row;
            align-items: center;

            .footer__itemwrapper {
                width: 50%;
            }

            .d-desktop {
                margin-right: 0;
                width: 6.625rem;
            }

            .l-btn.d-mob {
                min-width: 141px;
                font-size: 15px;
                line-height: 18px;
                letter-spacing: -.02em;
                padding: 13px 18px;
                display: block;
                text-transform: capitalize;
                border-radius: 740px;
                height: 44px;
                margin: 0;
                max-height: 44px;
                background-color: #fff;
                color: #000;
                margin-left: 9px;
                max-width: 141px;
                width: 100%;
                text-align: center;
                text-decoration: none;
                box-shadow: 0 4px 7px #00000080;
                align-items: center;
                justify-content: center;
                font-weight: 700;
                cursor: pointer;
            }
        }
    }

    .fooer__scan {

        &.d-desktop {
            display: none;
        }
    }

    .footer_copyright {
        p.credits {
            color: #999;
            line-height: 24px;
            font-weight: 400;
            font-size: 16px;
            text-align: left;
            margin-bottom: 64px;
            margin-top: 0;

            a {
                font-weight: 700;
                color: #999;
                font-size: 16px;
                line-height: 1.47059;
                text-transform: capitalize;
                text-decoration: none;
            }
        }
    }


    .footer_withsocial {
        display: flex;
        flex-direction: row;

        ul {
            columns: 1 !important;
            -webkit-columns: 1 !important;
        }

        .contact__social {
            margin-left: 15px;
            columns: 1;
            -webkit-columns: 1;
            height: auto;
            float: left;
            width: 100%;
            padding: 0;
            list-style-type: none;
            display: inline-block !important;
            list-style: none;
            margin: 0;

            div {
                width: 24px;
                height: 24px;
                margin-bottom: 26px;
                float: left;
                margin-right: 20px;

                img {
                    min-width: 24px;
                    max-width: 24px;
                    width: 24px !important;
                    height: 24px;
                }
            }
        }
    }
}
