$dir: ltr !default;
$persianFont: IRANSans !default;
$leftRight: if($dir==rtl,right,left);
$leftRightReverse: if($dir==rtl,left,right);

.what-is-zap-page {
    font-family: $persianFont;
    padding: 10px;
    overflow-x: auto;

    .what-is-zap-page-container {
        max-width: 60em;
        min-width: 30em;
        margin: 0 auto;
    }

    .top-header {
        text-align: $leftRight;
    }

    .top-image-container {
        text-align: center;
    }

    .top-image {
        max-width: 300px;
    }

    .what-is-zap-detail {
        text-align: $leftRight;
    }

    .what-is-zap-vidio {
        display: block;
        width: 100%;
    }

    .bottom-seciton {
        position: relative;
        padding-top: 20%;
        margin-top: 50px;

        img {
            width: 40%;
            display: block;
            margin: 0 auto;
        }

        .text-header {
            text-align: $leftRight;
            font-weight: bold;
            font-size: 16px;
        }

        .text-detail {
            text-align: justify;
            font-size: 14px;
        }



        .text-top-right-container {
            position: absolute;
            width: 25%;
            top: 0;
            right: -5px;
        }

        .top-right-pointer-container {
            margin-top: 20px;
            width: 18%;
            height: 30%;
            border-left: solid 2px;
            border-top: solid 2px;
            border-radius: 10px 0 0 0;
            position: absolute;
            top: 25px;
            right: 26%;
        }


        .text-top-left-container {
            position: absolute;
            width: 25%;
            top: 0;
            left: -5px;
        }

        .top-left-pointer-container {
            margin-top: 20px;
            width: 18%;
            height: 30%;
            border-left: solid 2px;
            border-bottom: solid 2px;
            border-radius: 0 0 0 10px;
            position: absolute;
            top: 25px;
            left: 26%;
        }





        .point {
            position: absolute;
            border: 1px solid;
            border-radius: 50%;
            background-color: black;
        }


        .top-right-point {
            top: -4px;
            right: -4px;
            width: 7px;
            height: 7px;
        }

        .bottom-left-point {
            bottom: -4px;
            left: -4px;
            width: 7px;
            height: 7px;
        }



        .top-left-point {
            top: -4px;
            left: -4px;
            width: 7px;
            height: 7px;
        }

        .bottom-right-point {
            bottom: -4px;
            right: -4px;
            width: 7px;
            height: 7px;
        }
    }
}
