
.myCatalogePageHeader {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 47px;
    color: #000;
    text-align: center;
}

.feature_divider {
    border-bottom: 1px solid #C9C9C9;
}
