/*@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");*/

$persianFont: IranianSan !default;

@font-face {
    font-family: "DM Sanse";
    font-style: normal;
    font-weight: normal;
    src: url('/popl/font/en/DMSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    src: url('/popl/font/en/Inter-Regular.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url('/popl/font/per/IRANSansWeb.eot');
    src: url('/popl/font/per/IRANSansWeb.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('/popl/font/per/IRANSansWeb.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('/popl/font/per/IRANSansWeb.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('/popl/font/per/IRANSansWeb.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: bold;
    src: url('/popl/font/per/IRANSansWeb_Bold.eot');
    src: url('/popl/font/per/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('/popl/font/per/IRANSansWeb_Bold.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('/popl/font/per/IRANSansWeb_Bold.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('/popl/font/per/IRANSansWeb_Bold.ttf') format('truetype');
}

@font-face {
    font-family: "Gilroy";
    src: url("/popl/font/a21f2416-e83c-44c4-88bf-a47ca6325a02.woff2") format("woff2"), url("/popl/font/25f5b6f4-855f-48e2-b53d-3d6ad49faae8.woff") format("woff");
}

@font-face {
    font-family: "Gilroy700";
    src: url("/popl/font/e62d07e6-5c21-45b8-8427-79c95511907d.woff2") format("woff2"), url("/popl/font/e667d70b-2326-4c62-8f38-200c31c3b08c.woff") format("woff");
}


@font-face {
    font-family: "Gilroy400";
    src: url("/popl/font/b261487c-2966-4089-8551-6555085406ad.woff2") format("woff2"), url("/popl/font/bf190033-35ff-42cf-b90c-f5321a94a3df.woff") format("woff");
}

@font-face {
    font-family: "Gilroy500";
    src: url("/popl/font/94b9ba0e-1690-4966-8af8-7d8a1c22c221.woff2") format("woff2"), url("/popl/font/fd4654af-3e2f-4601-bb81-d6b08f68d9f0.woff") format("woff");
}

@font-face {
    font-family: "Gilroy600";
    src: url("/popl/font/65e59d21-d1cb-42cb-85de-10af9afd2b38.woff2") format("woff2"), url("/popl/font/960a0830-33df-46c5-87bc-24fb52edfa4e.woff") format("woff");
}

@font-face {
    font-family: "Gilroy800";
    src: url("/popl/font/9aa3a833-f885-4df4-975c-c504bb6a7b67.woff2") format("woff2"), url("/popl/font/824bd825-cb90-45d8-ac5e-3997fd8632ac.woff") format("woff");
}
