@inject IWorkContext workContext
@{
    var supportRtl = workContext.WorkingLanguage.Rtl;
}


<!-- added by aha.com ----------------------------------------------- -->

<header id="header" class="mobile_nav-fixed--true ab-fix-position" style="top: 0px;">
    <div class="top_bar clearfix">
        <a class="mobile_nav dropdown_link" data-dropdown-rel="menu" data-no-instant="true" data-click-count="0"> <div> <span></span> <span></span> <span></span> <span></span></div></a> <a href="https://popl.co" title="Popl" class="mobile_logo logo" data-bss-pl="active"> <img src="//cdn.shopify.com/s/files/1/0257/5315/7735/t/29/assets/popl-logo.svg?v=3065390317737344277" alt="Popl"></a> <div class="top_bar--right">
            <a href="/search" class="icon-search dropdown_link" title="Search" data-dropdown-rel="search" data-click-count="0" data-no-instant="true"></a> <div class="cart_container">
                <a href="/cart" class="icon-bag mini_cart dropdown_link" title="Cart" data-no-instant="true" data-click-count="0"> <span class="cart_count">0</span></a><div class="tos_warning cart_content animated fadeIn">
                    <div class="js-empty-cart__message "> <p class="empty_cart">Your Cart is Empty</p></div> <form action="/checkout" method="post" data-total-discount="0" data-money-format="${{amount}}" data-shop-currency="USD" data-shop-name="Popl" class="hidden" data-cart-form="mini-cart">
                        <a class="cart_content__continue-shopping secondary_button">
                            Continue Shopping
                        </a> <ul class="cart_items js-cart_items clearfix"></ul> <ul> <li class="cart_discounts js-cart_discounts sale"></li> <li class="cart_subtotal js-cart_subtotal"> <span class="right"> <span class="money">$0.00</span></span> <span>Subtotal</span></li> <li class="cart_savings sale js-cart_savings"></li> <li> <button type="submit" class="action_button add_to_cart"><span class="icon-lock"></span>Checkout</button></li></ul>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--   Dropdown Search Mobile --> <div class="dropdown_container center" data-dropdown="search" style="display: none;"> <div class="dropdown" data-autocomplete-true=""> <span class="btn-close-search"></span> <form action="/search" class="header_search_form"> <input type="hidden" name="type" value="product"> <span class="icon-search search-submit"></span> <input type="text" name="q" placeholder="Search" autocapitalize="on" autocomplete="off" autocorrect="on" class="search-terms"><div class="search__results-wrapper"><ul class="search__results"></ul></div></form></div></div> <div class="dropdown_container" data-dropdown="menu" style="display: none;">
        <div class="dropdown">
            <ul class="menu" id="mobile_menu">
                <li data-mobile-dropdown-rel="shop-all" class="sublink">
                    <a data-no-instant="" href="/collections/all-products" class="parent-link--true">
                        Shop All <span class="right icon-down-arrow"></span>
                    </a>
                    <ul> <li><a href="/collections/all-products">All Products</a></li> <li><a href="/collections/custom-popls">Custom Products</a></li> <li><a href="/collections/popl-phone-tags">Popls</a></li> <li><a href="/collections/popl-cards">Cards</a></li> <li><a href="/collections/wristbands">Wristbands</a></li> <li><a href="/collections/popl-xl">Popl XL</a></li> <li data-handle="popl-keychains"><a href="/products/popl-keychains" data-bss-pl="active">Keychains</a></li> <li><a href="/collections/popl-bundles">Bundles</a></li> <li><a href="/collections/cases">Cases</a></li> <li><a href="/collections/collaborations">Collabs</a></li> <div class="feature_divider"></div></ul>
                </li>
                <li data-mobile-dropdown-rel="popl-pro">
                    <a data-no-instant="" href="https://popl.co/pages/popl-pro" class="parent-link--true">
                        Popl Pro
                    </a>
                </li>
                <li data-mobile-dropdown-rel="popl-teams">
                    <a data-no-instant="" href="https://popl.co/pages/popl-teams" class="parent-link--true">
                        Popl Teams
                    </a>
                </li>
                <li data-mobile-dropdown-rel="ambassadors">
                    <a data-no-instant="" href="/pages/ambassadors" class="parent-link--true">
                        Ambassadors
                    </a>
                </li>
                <li data-mobile-dropdown-rel="tutorials">
                    <a data-no-instant="" href="https://popl.co/a/faq" class="parent-link--true">
                        Tutorials
                    </a>
                </li>
                <li data-mobile-dropdown-rel="help">
                    <a data-no-instant="" href="https://popl.co/pages/help" class="parent-link--true">
                        Help
                    </a>
                </li>
                <li> <a href="https://popl.co/collections/popular" class="btn_nav_mobile" style="background-color: #000000; color: #ffffff">Buy Now</a></li>
            </ul> <div class="container_app_mobile"> <h3>Download the App</h3> <div> <a href="https://apps.apple.com/us/app/popl/id1503939262" data-bss-pl="active"><img width="135" style="margin-top: -10px" src="//cdn.shopify.com/s/files/1/0257/5315/7735/t/29/assets/new-apple_badge.png?v=10802718189369735273"></a> <a href="https://play.google.com/store/apps/details?id=com.nfc.popl" data-bss-pl="active"><img width="150" src="//cdn.shopify.com/s/files/1/0257/5315/7735/t/29/assets/new-google-badge.png?v=1677383648344012236"></a></div></div>
        </div>
    </div>

    <!--Gorgias Chat Widget Start--><script id="gorgias-chat-widget-install-v2" src="https://config.gorgias.chat/gorgias-chat-bundle-loader.js?applicationId=3785"></script><!--Gorgias Chat Widget End-->
    <!-- luckyorange code --><script async="" defer="" src="https://tools.luckyorange.com/core/lo.js?site-id=3ae1a3a5"></script>

</header>

<header>

    <div class="header  header-fixed--true header-background--solid" style="top: 0px;">
        <div class="main_nav_wrapper">
            <div class="main_nav clearfix menu-position--inline logo-align--center logo-position--left search-enabled--true">

                

                <div class="logo logo--image">
                    <partial name="_Logo" />
                </div>

                <div class="nav clearfix">
                    <ul class="menu align_left clearfix">
                        <li>
                            <a href="/collections/all-products" class="dropdown_link" data-dropdown-rel="shop-all" data-click-count="0">Shop All <span class="icon-down-arrow"></span></a>
                        </li>
                        <li><a href="https://popl.co/pages/popl-pro" class="  top_link " data-dropdown-rel="popl-pro">Popl Pro</a></li>
                        <li><a href="https://popl.co/pages/popl-teams" class="  top_link " data-dropdown-rel="popl-teams">Popl Teams</a></li>
                        <li><a href="/pages/ambassadors" class="  top_link " data-dropdown-rel="ambassadors">Ambassadors</a></li>
                        <li><a href="https://popl.co/a/faq" class="  top_link " data-dropdown-rel="tutorials">Tutorials</a></li>
                        <li><a href="https://popl.co/pages/help" class="  top_link " data-dropdown-rel="help">Help</a></li>


                        <!--         Search Desktop -->
                        <li class="search_container" data-autocomplete-true=""> 
                            <form action="/search" class="search_form"> 
                                <input type="hidden" name="type" value="product"> 
                                <span class="icon-search search-submit"></span> 
                                <input type="text" name="q" placeholder="Search" value="" autocapitalize="on" autocomplete="off" autocorrect="on">
                                <div class="search__results-wrapper">
                                    <ul class="search__results"></ul>
                                </div>
                            </form>
                        </li>
                        <li class="search_link"> <a class="icon-search dropdown_link" title="Search" data-dropdown-rel="search" style="cursor: pointer" data-click-count="0"></a></li>
                    </ul>
                </div>

                <div class="nav_container_right_items">
                    <!-- Cart Nav Desktop -->
                    <a href="/popls" style="background-color: #000000; color: #ffffff">Buy Now</a>

                    <!-- <a href="/login" class="login_link">Log In</a> --> 
                    <div class="cart_container clearfix">
                        <a href="/cart" class="icon-bag mini_cart dropdown_link" data-no-instant="" data-click-count="0"> <span class="cart_count">0</span></a> 
                        <div class="tos_warning cart_content animated fadeIn">
                            <div class="js-empty-cart__message "> <p class="empty_cart">Your Cart is Empty</p></div> 
                            <form action="/checkout" method="post" data-total-discount="0" data-money-format="${{amount}}" data-shop-currency="USD" data-shop-name="Popl" class="hidden" data-cart-form="mini-cart">
                                <a class="cart_content__continue-shopping secondary_button">
                                    Continue Shopping
                                </a> 
                                <ul class="cart_items js-cart_items clearfix"></ul> 
                                <ul> 
                                    <li class="cart_discounts js-cart_discounts sale"></li> 
                                    <li class="cart_subtotal js-cart_subtotal"> <span class="right"> <span class="money">$0.00</span></span> <span>Subtotal</span></li> 
                                    <li class="cart_savings sale js-cart_savings"></li> 
                                    <li> <button type="submit" class="action_button add_to_cart"><span class="icon-lock"></span>Checkout</button></li>
                                </ul>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Start of TrueVault Polaris Code Block -->
                @*<script>
                    window.polarisOptions = {
                    GoogleAnalyticsPropertyId: "UA-149457176-2"
                    };</script>
                    <script src="https://polaris.truevaultcdn.com/static/polaris.js"></script> *@
                <!-- End of TrueVault Polaris Code Block -->
                <!--         Dropdown Search Desktop -->
                <div class="dropdown_container center" data-dropdown="search" style="display: none;">
                    <div id="dropdown_search_results" class="dropdown" data-autocomplete-true="">
                        <form action="/search" class="header_search_form">
                            <input type="hidden" name="type" value="product">
                            <span class="icon-search search-submit"></span>
                            <input type="text" name="q" placeholder="Search" autocapitalize="off" autocomplete="off" autocorrect="off" class="search-terms">
                            <div class="search__results-wrapper"><ul class="search__results"></ul></div>
                        </form>
                    </div>
                </div>

                <!-- shop all items      -------------- -->
                <div class="dropdown_container" data-dropdown="shop-all" style="display: none;">
                    <div class="dropdown menu">
                        <div class="dropdown_content ">
                            <div class="dropdown_column">
                                <ul class="dropdown_item">
                                    <li> <a href="/collections/all-products">All Products</a></li>
                                </ul>
                            </div>
                            <div class="dropdown_column"> 
                                <ul class="dropdown_item"> <li> <a href="/collections/custom-popls">Custom Products</a></li></ul>
                            </div>
                            <div class="dropdown_column"> 
                                <ul class="dropdown_item"> <li> <a href="/collections/popl-phone-tags">Popls</a></li></ul>
                            </div>
                            <div class="dropdown_column"> 
                                <ul class="dropdown_item"> <li> <a href="/collections/popl-cards">Cards</a></li></ul>
                            </div>
                            <div class="dropdown_column"> 
                                <ul class="dropdown_item"> <li> <a href="/collections/wristbands">Wristbands</a></li></ul>
                            </div>
                            <div class="dropdown_row"></div> 
                            <div class="dropdown_column"> 
                                <ul class="dropdown_item"> <li> <a href="/collections/popl-xl">Popl XL</a></li></ul>
                            </div>
                            <div class="dropdown_column">
                                <ul class="dropdown_item"> <li data-handle="popl-keychains"> <a href="/products/popl-keychains" data-bss-pl="active">Keychains</a></li></ul>
                            </div>
                            <div class="dropdown_column"> 
                                <ul class="dropdown_item"> <li> <a href="/collections/popl-bundles">Bundles</a></li></ul>
                            </div>
                            <div class="dropdown_column">
                                <ul class="dropdown_item"> <li> <a href="/collections/cases">Cases</a></li></ul>
                            </div>
                            <div class="dropdown_column">
                                <ul class="dropdown_item"> <li> <a href="/collections/collaborations">Collabs</a></li></ul>
                            </div>
                            <div class="dropdown_row"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</header>


<!-- --------------------------------------------------------------- -->




<div class="header-nav" style="display:none">
    <nav class="navbar navbar-light navbar-expand">
        <b-container id="header-container">

            <partial name="_Logo" />

            <div class="menu-container">
                <template>
                    <button aria-label="menu-toggler" class="btn menu-toggler" v-b-toggle.sidebar-menu><span></span><span></span><span></span></button>
                    <b-sidebar id="sidebar-menu"
                               backdrop
                               shadow
                               @if (supportRtl) {
                    <text>right</text>
 }>
                        <ul class="Menu -vertical">
                            @await Component.InvokeAsync("Menu")
                        </ul>
                    </b-sidebar>
                </template>
            </div>

            <ul class="navbar-nav top-header-items order-3">
                <template>
                    <li class="nav-item">
                        <span class="nav-link">
                            <template>
                                <b-form-checkbox size="lg" v-model="darkMode" name="contrast-button" class="contrast-switch" switch>
                                    <b-icon icon="sun" class="light" variant="info"></b-icon>
                                    <b-icon icon="moon" class="dark" variant="dark"></b-icon>
                                </b-form-checkbox>
                            </template>
                        </span>
                    </li>
                </template>
                <li class="nav-item">
                    <a href="#" target="_self" class="nav-link">
                        <b-icon icon="search" :variant="[darkMode ? 'white' : 'dark']" v-b-modal.search-box></b-icon>
                    </a>
                </li>
                <b-modal id="search-box" ref="search-box" :dark-theme="darkMode" @@shown="vm.$refs.searchBoxInput.focus()"
                         hide-footer hide-header size="xl">
                    @await Component.InvokeAsync("SearchBox")
                </b-modal>
                <template>
                    <li class="nav-item">
                        <span class="nav-link">
                            <b-icon icon="person-circle" :variant="[darkMode ? 'white' : 'dark']" v-b-toggle.sidebar-right></b-icon>
                        </span>
                        <template>
                            <b-sidebar id="sidebar-right" body-class="user-panel" title="@Loc["Account.MyAccount"]" 
                            @if (!supportRtl) {
                            <text>right</text>
                            } 
                            backdrop>
                                <div class="d-inline-flex flex-wrap mb-2">
                                    <partial name="_Selector_TaxType" />
                                    <partial name="_Selector_Currency" />
                                    <partial name="_Selector_Language" />
                                    <partial name="_Selector_Store" />
                                    <partial name="_Selector_Theme" />
                                    @await Component.InvokeAsync("Widget", new { widgetZone = "header_selectors" })
                                </div>
                                <partial name="_HeaderLinks" />
                            </b-sidebar>
                        </template>
                    </li>
                </template>
                <partial name="_ShoppingCartLinks" />
            </ul>
        </b-container>
    </nav>
</div>
