<div >
   <div class="myHomeCustomersSection">
      <div class="popl_container">
         <div class="customers__title">
                <h1>@Loc["zap.homepage.customers.header"]</h1>
         </div>
         <div class="customers__gallery">
            <div class="customers__thumb order_1">
                <a href="/pages/popl-teams" target="_blank" loading="lazy" data-bss-pl="active">
                    <img loading="lazy" class="custom_logo_1"
                             src="/popl/images/firstpage_customer/1.png"
                             data-sizes="auto" alt="Uber - Popl Teams">
                    </a>
            </div>
            <div class="customers__thumb order_2">
                <a href="/pages/popl-teams" target="_blank" loading="lazy" data-bss-pl="active">
                    <img loading="lazy" class="custom_logo_2"
                             src="/popl/images/firstpage_customer/2.png"
                             data-sizes="auto" alt="Salesforce - Popl Teams">
                    </a>
            </div>
            <div class="customers__thumb order_3">
                <a href="/pages/popl-teams" target="_blank" loading="lazy" data-bss-pl="active">
                    <img loading="lazy" class="custom_logo_3"
                             src="/popl/images/firstpage_customer/3.png"
                        data-sizes="auto" alt="Compass - Popl Teams">
                    </a>
            </div>
            <div class="customers__thumb order_4">
                <a href="/pages/popl-teams" target="_blank" loading="lazy" data-bss-pl="active">
                    <img loading="lazy" class="custom_logo_4"
                             src="/popl/images/firstpage_customer/4.png"
                        data-sizes="auto" alt="Tesla - Popl Teams">
                    </a>
            </div>
            <div class="customers__thumb order_5">
                <a href="/pages/popl-teams" target="_blank" loading="lazy" data-bss-pl="active">
                    <img loading="lazy" class="custom_logo_5"
                             src="/popl/images/firstpage_customer/5.png"
                        data-sizes="auto" alt="Resorts World - Popl Teams">
                    </a>
            </div>
            <div class="customers__thumb order_6">
                <a href="/pages/popl-teams" target="_blank" loading="lazy" data-bss-pl="active">
                    <img loading="lazy" class="custom_logo_6"
                             src="/popl/images/firstpage_customer/6.png"
                        data-sizes="auto" alt="Remax - Popl Teams">
                    </a>
            </div>
            <div class="customers__thumb order_7">
                <a href="/pages/popl-teams" target="_blank" loading="lazy" data-bss-pl="active">
                    <img loading="lazy" class="custom_logo_7"
                             src="/popl/images/firstpage_customer/7.png"
                        data-sizes="auto" alt="Harvard - Popl Teams">
                    </a>
            </div>
            <div class="customers__thumb order_8">
                <a href="/pages/popl-teams" target="_blank" loading="lazy" data-bss-pl="active">
                    <img loading="lazy" class="custom_logo_8"
                             src="/popl/images/firstpage_customer/8.png"
                        data-sizes="auto" alt="Y Combinator - Popl Teams">
                    </a>
            </div>
         </div>
      </div>
   </div>
</div>