<div >
   <div class="myHomeCustomersSection">
      <div class="popl_container">
         <div class="customers__title">
            <h1>Teams and Professionals around the world trust Popl</h1>
         </div>
         <div class="customers__gallery">
            <div class="customers__thumb order_1">
                <a href="/pages/popl-teams" target="_blank" loading="lazy" data-bss-pl="active">
                    <img loading="lazy" class="custom_logo_1" 
                        src="/popl/images/customers/uber-for-business-logo-vector_200x.webp"  
                        data-sizes="auto" alt="Uber - Popl Teams">
                    </a>
            </div>
            <div class="customers__thumb order_2">
                <a href="/pages/popl-teams" target="_blank" loading="lazy" data-bss-pl="active">
                    <img loading="lazy" class="custom_logo_2" 
                        src="/popl/images/customers/Salesforce.com_logo_200x.webp" 
                        data-sizes="auto" alt="Salesforce - Popl Teams">
                    </a>
            </div>
            <div class="customers__thumb order_3">
                <a href="/pages/popl-teams" target="_blank" loading="lazy" data-bss-pl="active">
                    <img loading="lazy" class="custom_logo_3" 
                        src="/popl/images/customers/compass_200x.webp" 
                        data-sizes="auto" alt="Compass - Popl Teams">
                    </a>
            </div>
            <div class="customers__thumb order_4">
                <a href="/pages/popl-teams" target="_blank" loading="lazy" data-bss-pl="active">
                    <img loading="lazy" class="custom_logo_4" 
                        src="/popl/images/customers/Tesla__Inc.-Wordmark-Black-Logo.wine_200x.webp" 
                        data-sizes="auto" alt="Tesla - Popl Teams">
                    </a>
            </div>
            <div class="customers__thumb order_5">
                <a href="/pages/popl-teams" target="_blank" loading="lazy" data-bss-pl="active">
                    <img loading="lazy" class="custom_logo_5" 
                        src="/popl/images/customers/Bitmapy_200x.webp" 
                        data-sizes="auto" alt="Resorts World - Popl Teams">
                    </a>
            </div>
            <div class="customers__thumb order_6">
                <a href="/pages/popl-teams" target="_blank" loading="lazy" data-bss-pl="active">
                    <img loading="lazy" class="custom_logo_6" 
                        src="/popl/images/customers/REMAX_New_2021_200x.webp" 
                        data-sizes="auto" alt="Remax - Popl Teams">
                    </a>
            </div>
            <div class="customers__thumb order_7">
                <a href="/pages/popl-teams" target="_blank" loading="lazy" data-bss-pl="active">
                    <img loading="lazy" class="custom_logo_7" 
                        src="/popl/images/customers/harvrd_200x.webp" 
                        data-sizes="auto" alt="Harvard - Popl Teams">
                    </a>
            </div>
            <div class="customers__thumb order_8">
                <a href="/pages/popl-teams" target="_blank" loading="lazy" data-bss-pl="active">
                    <img loading="lazy" class="custom_logo_8" 
                        src="/popl/images/customers/y-combinator-seeklogo.com_copy_200x.webp" 
                        data-sizes="auto" alt="Y Combinator - Popl Teams">
                    </a>
            </div>
         </div>
      </div>
   </div>
</div>