@import "helpers/_all.scss";

@import "base/_normalize.scss";
@import "base/_global.scss";
@import "base/_typography.scss";

@import "theme/_icon.scss";
@import "theme/_fonts.scss";

/*==================================================
 main - structure
==================================================*/

*, :after, :before {
    box-sizing: border-box;
}

html {
    min-width: 300px;
    overflow: visible;
}
html, body, #app {
    min-height: 100vh;
}

body #mainLayouContainer {
    max-width: 1440px;
    margin: auto;
}

body #app {
    font-weight: 400;
    font-style: normal;
    text-transform: none;
    color: #333;
    line-height: 1.6em;
    /*overflow: auto; به خاطر استیکی برداشته شد*/
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    scroll-behavior: smooth;
    font-family: DM Sans,sans-serif;
    font-size: 16px;
    margin: auto;
    padding: 85px 0 0 0;
}
h1{
    text-rendering:optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    color: #121212;
    padding: 0;
}

h3, .h3 {
    font-family: DM Sans,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
    text-transform: none;
    line-height: 1.5;
    color: #000;
    display: block;
    letter-spacing: 0px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0 auto 15px 0;
}

ul, ol {
    margin: 0;
    padding: 0;
}
ul li, ol li {
    list-style: none;
    margin-bottom: 0rem;
}

a, a:visited, a span {
    color: #4a9ef4;
    text-decoration: none;
    position: relative;
    transition: color .1s linear;
}




.popl_container {
    max-width: 74.375rem;
    margin: 0 auto;
    padding: 0 25px;
    width: auto;
    position: relative;
}
.popl_seciton{
    margin-top:100px;
}

img {
    width: 100%;
    height: auto;
}

body {

    &:after {
        //از این در جاوا اسکریپت استفاده کردم که ببینم حالت موبایل هست یا نه
        content: "is-moblie";
        position: absolute;
        left: -100%;
    }


    @include bp {

        &:after {
            content: "";
        }
    }

    &[data-ismobile='true'] {
        &:after {
            content: "is-moblie";
        }
    }
}

$persianFont: IRANSans;

html {
    $dir: null;

    /*یک چیزی در بوت استرپ بود که مشکل ایجاد می کرد در فرم هایی که چک باکس دارن*/
    .custom-control {
        padding-left: 1.5rem;
        padding-right: unset;

        .custom-control-label {
            &::after {
                left: -1.5rem;
                right: unset;
            }
        }
    }


    .onlyEnglish {
        display: revert;
    }

    .onlyPersian {
        display: none;
    }

    @import "components/_header.scss";
    @import "components/_myHomeCustomersSection.scss";
    @import "components/_myHomePageProduct.scss";
    @import "components/_myHomeSlider.scss";
    @import "components/_myPoplFeatures.scss";
    @import "components/_myHomeWhoItWork.scss";
    @import "components/_myHomeTeams.scss";

    @import "components/_myHomeUpgradeSection.scss";
    @import "components/_myHomeMissionSeciton.scss";
    @import "components/_myHomeFAQSection.scss";
    @import "components/_myHomeContactSection.scss";

    @import "components/_myPoplFooter.scss";


    @import "pages/myCatalogPage.scss";

    @import "components/_product.scss";

    @import "pages/myCartSummaryPage.scss";

    @import "components/_myQuickProductView.scss";

    @import "pages/myCheckoutPage.scss";
    @import "pages/myOrderDetailPage.scss";

    @import "components/_mySidebarShoppingCart.scss";

    @import "pages/_loginPage.scss";
    @import "pages/_what-is-zap-page.scss";

}

html[dir="rtl"] {
    $dir: rtl;

    .custom-control {
        padding-left: unset;
        padding-right: 1.5rem;

        .custom-control-label {
            &::before {
                left: unset;
                right: -1.5rem;
            }

            &::after {
                left: unset;
                right: -1.5rem;
            }
        }
    }

    .onlyEnglish {
        display: none !important;
    }

    .onlyPersian {
        display: revert;
        font-family: IRANSans !important;
    }

    @import "components/_header.scss";
    @import "components/_myHomeCustomersSection.scss";
    @import "components/_myHomePageProduct.scss";
    @import "components/_myHomeSlider.scss";
    @import "components/_myPoplFeatures.scss";
    @import "components/_myHomeWhoItWork.scss";
    @import "components/_myHomeTeams.scss";

    @import "components/_myHomeUpgradeSection.scss";
    @import "components/_myHomeMissionSeciton.scss";
    @import "components/_myHomeFAQSection.scss";
    @import "components/_myHomeContactSection.scss";

    @import "components/_myPoplFooter.scss";



    @import "pages/myCatalogPage.scss";

    @import "components/_product.scss";

    @import "pages/myCartSummaryPage.scss";

    @import "components/_myQuickProductView.scss";

    @import "pages/myCheckoutPage.scss";
    @import "pages/myOrderDetailPage.scss";

    @import "components/_mySidebarShoppingCart.scss";

    @import "pages/_loginPage.scss";
    @import "pages/_what-is-zap-page.scss";
}


/*==================================================
 main - theme
==================================================*/
html {
    $theme-type: null;

    //اینجا چیزهای مربوط به تم را می زاریم و متغیر تم تایپ هم بهش پاس می دیم
    //@import "components/_header.scss";
}

html.dark {
    $theme-type: dark;

    //اینجا چیزهای مربوط به تم را می زاریم و متغیر تم تایپ هم بهش پاس می دیم
    //@import "components/_header.scss";
}



@media screen and (min-width: 550px) {
    .popl.mission::after {
        content: "";
        background-image: url(/popl/images/BG-Mob.png);
        background-size: cover;
        background-repeat: no-repeat;
        height: 283vw;
        /* transform: translateX(-50%); */
        top: 25px;
        left: 0;
        width: 100%;
        z-index: -1;
        position: absolute;
    }
}