
@import "helpers/_all.scss";

@import "base/_normalize.scss";
@import "base/_global.scss";
@import "base/_typography.scss";

@import "theme/_icon.scss";

/*==================================================
 main - structure
==================================================*/
*, :after, :before {
    box-sizing: border-box;
}

html {
    min-width: 300px;
    overflow: visible;


    
}
html, body, #app {
    min-height: 100vh;
}

body #app {
    font-weight: 400;
    font-style: normal;

    text-transform: none;
    color: #333;
    line-height: 1.6em;
    overflow: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    scroll-behavior: smooth;
    background-color: #fff;

    font-family: DM Sans,sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
}
h1{
    text-rendering:optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    color: #121212;
    padding: 0;
}

ul, ol {
    margin: 0;
    padding: 0;
}
ul li, ol li {
    list-style: none;
    margin-bottom: 0rem;
}

a, a:visited, a span {
    color: #4a9ef4;
    text-decoration: none;
    position: relative;
    transition: color .1s linear;
}

#app {
    max-width: 1440px;
    margin: auto;
    padding-top:85px;
}

.popl_container {
    max-width: 74.375rem;
    margin: 0 auto;
    padding: 0 25px;
    width: auto;
    position:relative;
}
.popl_seciton{
    margin-top:100px;
}

img {
    width: 100%;
    height: auto;
}

html {

    &:after {
        //از این در جاوا اسکریپت استفاده کردم که ببینم حالت موبایل هست یا نه
        content: "is-moblie";
        position: absolute;
        left: -100%;
    }


    @include bp {

        &:after {
            content: "";
        }
    }
}

html {
    $dir: null;

    @import "components/_header.scss";
    @import "components/_myHomePageProduct.scss";
    @import "components/_myHomeSlider.scss";
    @import "components/_myPoplFeatures.scss";
    @import "components/_myHomeWhoItWork.scss";
}

html[dir="rtl"] {
    $dir: rtl;

    @import "components/_header.scss";
    @import "components/_myHomePageProduct.scss";
    @import "components/_myHomeSlider.scss";
    @import "components/_myPoplFeatures.scss";
    @import "components/_myHomeWhoItWork.scss";
}


/*==================================================
 main - theme
==================================================*/
html {
    $theme-type: null;

    //اینجا چیزهای مربوط به تم را می زاریم و متغیر تم تایپ هم بهش پاس می دیم
    //@import "components/_header.scss";
}

html.dark {
    $theme-type: dark;

    //اینجا چیزهای مربوط به تم را می زاریم و متغیر تم تایپ هم بهش پاس می دیم
    //@import "components/_header.scss";
}


