
@import "helpers/_all.scss";

@import "base/_normalize.scss";
@import "base/_global.scss";
@import "base/_typography.scss";

@import "theme/_icon.scss";

/*==================================================
 main - structure
==================================================*/
*, :after, :before {
    box-sizing: border-box;
}

html {
    min-width: 300px;
    overflow: auto;
}
html, body, #app {
    min-height: 100vh;
}

body {
    
}
h1{
    text-rendering:optimizeLegibility;
}

#app {
    max-width: 1440px;
    margin: auto;
    padding-top:85px;
}

.main-container{
    max-width:74.375rem;
    margin:0 auto;
}

html {

    &:after {
        //از این در جاوا اسکریپت استفاده کردم که ببینم حالت موبایل هست یا نه
        content: "is-moblie";
        position: absolute;
        left: -100%;
    }


    @include bp {

        &:after {
            content: "";
        }
    }
}

html {
    $dir: null;

    @import "components/_header.scss";
    @import "components/_cataloge_product.scss";
    @import "components/_myHomeSlider.scss";
}

html[dir="rtl"] {
    $dir: rtl;

    @import "components/_header.scss";
    @import "components/_cataloge_product.scss";
    @import "components/_myHomeSlider.scss";
}


/*==================================================
 main - theme
==================================================*/
html {
    $theme-type: null;

    //اینجا چیزهای مربوط به تم را می زاریم و متغیر تم تایپ هم بهش پاس می دیم
    //@import "components/_header.scss";
}

html.dark {
    $theme-type: dark;

    //اینجا چیزهای مربوط به تم را می زاریم و متغیر تم تایپ هم بهش پاس می دیم
    //@import "components/_header.scss";
}


