$default-breakpoint: medium !default;
$breakpoints: (
        small: 480px,
        medium: 798px,
        large: 1025px,
        verylarg: 1440px
) !default;

@mixin bp($size: unquote($default-breakpoint), $breakpoints: $breakpoints) {
  @media (min-width: map-get($breakpoints, $size)) {
    @content;
  }
}

@mixin default($onlyAddContentForBodyIsMobile: false) {

    @if $onlyAddContentForBodyIsMobile{}
    @else {@content}
    

    body[data-ismobile='true'] {
        @content;
    }
}