$default-breakpoint: medium !default;
$breakpoints: (
        small: 414px,
        medium: 798px,
        large: 991px,
        verylarg: 1440px
) !default;

@mixin bp($size: unquote($default-breakpoint), $breakpoints: $breakpoints) {
  @media (min-width: map-get($breakpoints, $size)) {
    @content;
  }
}

@mixin bps($size) {
    @media (min-width: $size+'px') {
        @content;
    }
}

@mixin default($onlyAddContentForBodyIsMobile: false) {

    @if $onlyAddContentForBodyIsMobile{}
    @else {@content}
    
    body[data-ismobile='true'] {
        @content;
    }
}