.faqPlusAppTitle:after, .faqPlusAppTitle:before {
  content: "" !important;
  position: absolute !important;
  right: 1.25em !important;
  top: 1.25em !important;
  width: 2px !important;
  height: 0.75em !important;
  background-color: #000000 !important;
  -webkit-transition: all 0.2s !important;
  transition: all 0.2s !important;
  left: unset !important;
}

.faqPlusAppFeaturedFaqLabel:after, .faqPlusAppFeaturedFaqLabel:before {
  content: "" !important;
  position: absolute !important;
  right: 44px;
  top: 6px;
  width: 2px;
  height: 10px;
  background-color: #000;
  -webkit-transition: all 0.2s !important;
  transition: all 0.2s !important;
  left: unset !important;
}

.faq-plus-app-container-featured-faqs-content {
  margin: 0 auto;
  max-width: 70%;
}

.faqPlusAppFaq {
  display: block;
  border-radius: 16px;
  position: relative;
  margin-bottom: 12px;
  background: #c0c0c0;
}

.faqPlusAppFaq:hover {
  text-decoration: none;
}

.faqPlusAppFaq:hover {
  background-color: #4a9ef4 !important;
}

.faqPlusAppTitle:hover, .faqPlusAppFeaturedFaqLabel:hover {
  cursor: pointer;
}

label.faqPlusAppTitle, label.faqPlusAppFeaturedFaqLabel {
  cursor: pointer;
}

.faqPlusAppTitle,
.faqPlusAppContent, .faqPlusFeaturedAppContent, .faqPlusAppFeaturedFaqLabel {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.faq-plus-app-container-featured-faqs {
  background-color: #5ac18e;
  padding-top: 34px;
}

.faqPlusAppCategoryTitleTop {
  font-size: 12px;
  font-weight: normal;
  text-transform: unset;
  text-align: left;
  font-style: unset;
  margin-top: 0;
  color: #f0f0f0;
}

.faqPlusAppFeaturedFaqLabel {
  color: #f0f0f0;
}

.faqAppFeatureFaqTitle span {
  color: #f0f0f0;
}

.faqAppFeatureFaqTitle {
  text-align: center;
  text-transform: unset !important;
  margin-top: 0;
  font-weight: bold;
}

.faq-app-category-individual {
  cursor: pointer;
  border: 2px solid transparent;
  font-family: var(--font-primary);
  font-weight: 700;
  text-decoration: none;
  line-height: 1;
  box-shadow: none;
  transition: var(--transition);
  position: relative;
  width: auto;
  min-width: 6.5em;
  max-width: 100%;
  align-items: baseline;
  padding: var(--btn-padding-y) var(--btn-padding-x);
  padding-right: 2.25rem;
  border-color: var(--color-primary);
  color: #c0c0c0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  /* white-space: nowrap; */
  font-size: var(--btn-font-size, 1em);
  padding: var(--btn-padding-y, 10px) var(--btn-padding-x, 1rem);
  border-radius: var(--btn-radius, 0.25em);
  margin: 10px;
}

.faq-app-category-individual:hover {
  color: #4a9ef4 !important;
}

.faqPlusAppContent, .faqPlusAppContent span, .faqPlusAppContent p {
  font-size: 15px !important;
  font-weight: normal !important;
  color: #133337 !important;
  background-color: #eeeeee !important;
  font-style: unset !important;
  font-family: inherit !important;
}

.faqPlusFeaturedAppContent, .faqPlusFeaturedAppContent span, .faqPlusFeaturedAppContent p {
  font-size: 15px;
  font-weight: normal;
  color: #f0f0f0;
  font-style: unset !important;
  font-family: inherit !important;
}

.faqPlusAppFeaturedContentParagraph {
  margin: 0;
  padding: 0 2em 1em 0;
  line-height: 1.5;
}

.faqPlusAppTitle {
  padding: 1em !important;
  display: block !important;
  margin-bottom: 0 !important;
  font-style: unset !important;
  text-transform: unset !important;
  padding-right: 30px !important;
  letter-spacing: inherit !important;
  font-weight: bold !important;
  font-size: 16px !important;
  color: #000000 !important;
  width: 100%;
  display: block;
}

.faqPlusAppFeaturedFaqLabel {
  padding-bottom: 5px;
  display: block;
  margin-bottom: 0;
  font-style: unset;
  text-transform: unset;
  padding-right: 60px;
  letter-spacing: inherit;
  font-size: 19px;
  font-weight: bold;
}

.faqPlusFeaturedAppContent ul li, .faqPlusAppContent ul li {
  list-style: circle !important;
  color: #133337 !important;
}

.faqPlusFeaturedAppContent ol li, .faqPlusAppContent ol li {
  list-style: decimal !important;
  color: #133337 !important;
}

.faqPlusAppContent div p sub {
  vertical-align: sub;
}

.faqPlusAppContent div p sup {
  vertical-align: super;
}

.faqPlusAppContent ul, .faqPlusAppContent ol, .faqPlusFeaturedAppContent ul, .faqPlusFeaturedAppContent ol {
  padding-left: 1em !important;
  padding-bottom: 1em !important;
  margin-left: 1em !important;
}

.faqPlusAppContent a:link, .faqPlusFeaturedAppContent a:link {
  color: green !important;
  background-color: transparent !important;
  text-decoration: underline !important;
}

.faqPlusAppContent a:hover, .faqPlusAppContent a span:hover, .faqPlusFeaturedAppContent a:hover, .faqPlusFeaturedAppContent a span:hover {
  color: red !important;
  background-color: transparent !important;
  text-decoration: none !important;
}

.faqPlusAppToggle {
  display: none !important;
}

.faqPlusAppTitle:after {
  -webkit-transform: rotate(90deg) !important;
  transform: rotate(90deg) !important;
  border-color: #fff !important;
}

.faqPlusAppFeaturedFaqLabel:after {
  -webkit-transform: rotate(90deg) !important;
  transform: rotate(90deg) !important;
  border-color: #fff !important;
}

.faqPlusAppContent, .faqPlusFeaturedAppContent {
  max-height: 0;
  overflow: hidden;
}

.faqPlusFeaturedAppContent {
  width: 92%;
}

.faqPlusAppToggle:checked + .faqPlusAppTitle + .faqPlusAppContent {
  box-shadow: none;
}

.faqPlusAppToggle:checked + .faqPlusAppFeaturedFaqLabel + .faqPlusFeaturedAppContent {
  box-shadow: none;
}

#easy-faq-app-top-section {
  background-position: center;
}

@media (min-width: 767px) {
  #easy-faq-app-top-section {
    background-size: cover;
    background-repeat: no-repeat;
    height: 356px;
  }
}
#easy-faq-app-header {
  padding-top: 20px;
  margin-top: 0;
  font-size: 40px;
  font-weight: bold;
  text-transform: initial;
}

/* Toggle happens here */
.faqPlusAppToggle:checked + .faqPlusAppTitle + .faqPlusAppContent {
  max-height: 100%;
}

.faqPlusAppToggle:checked + .faqPlusAppFeaturedFaqLabel + .faqPlusFeaturedAppContent {
  max-height: 100%;
}

.faqPlusAppToggle:checked + .faqPlusAppTitle:before {
  -webkit-transform: rotate(90deg) !important;
  transform: rotate(90deg) !important;
}

.faqPlusAppToggle:checked + .faqPlusAppFeaturedFaqLabel:before {
  -webkit-transform: rotate(90deg) !important;
  transform: rotate(90deg) !important;
}

.faqPlusCategoryFaqs {
  padding-top: 10px;
}

.faqCollapseCategory:hover {
  cursor: pointer;
}

.easy-faq-search-bar input {
  width: 40%;
  margin: 0 auto;
  border-radius: 10px;
  height: 44px;
  font-size: 18px;
  padding: 10px 18px;
  background: #fff;
}

ol, ul {
  list-style: none;
}

.faq-app-categories a {
  border: 1px solid transparent;
  font-style: unset;
  display: block;
  padding: 14px 15px;
  vertical-align: middle;
  text-decoration: none;
}

.faq-app-categories li {
  border-bottom: 1px solid #c0c0c0;
}

html {
  scroll-behavior: smooth;
}

.sticky-faq-sidebar {
  position: fixed;
  top: 150px;
  z-index: 10000;
}

.easy-faq-contact-details {
  display: table;
  margin: 0 auto;
}

.easy-faq-contact-details p {
  margin: 0;
}

.easy-faq-contact-email-info, .easy-faq-contact-phone-info {
  display: grid;
  grid-template-columns: 34px auto;
  grid-gap: 0 1rem;
  text-align: left;
  width: 400px;
  align-items: center;
  margin: 0 auto;
}

.easy-faq-contact-email-info, .easy-faq-contact-phone-info {
  margin: 0;
}

.easy-faq-contact-email-info-image, .easy-faq-contact-phone-info-image {
  width: 100%;
}

.faq-header a {
  border-bottom: 1px solid transparent;
  transition: all 0.2s ease;
  color: #fff;
  text-decoration: none;
}

#easy-faq-search-bar-section {
  padding-top: 30px;
  padding-bottom: 30px;
}

.easy-faq-contact-email-info-details p:first-child, .easy-faq-contact-phone-info-details p:first-child {
  font-weight: bold;
}

.easy-faq-double-detail-box {
  text-align: center;
  display: inline-block;
  padding: 20px;
}

.easy-faq-single-detail-box {
  text-align: center;
  display: block;
  padding-top: 20px;
}

.easy-faq-single-detail-box img, .easy-faq-double-detail-box img {
  display: inline-block;
  max-width: 34px;
  margin-right: 14px;
  margin-bottom: 30px;
}

.easy-faq-single-detail-box-details {
  display: inline-block;
  text-align: left;
}

.easy-faq-single-detail-box-details p {
  margin: 0;
}

.easy-faq-single-detail-box-details p:first-child {
  font-weight: bold;
}

main#MainContent {
  margin-top: 0;
  padding-top: 0;
}

.main-content--no-template {
  padding-top: 0;
}

.active-faq-category {
  text-decoration: underline;
  font-weight: bold;
}

.easy-faq-single-detail-box-details p a:hover {
  cursor: pointer;
}

.page-container, #PageContainer {
  transform: none !important;
  overflow: visible;
}

#faq-plus-app-template-three, .faq-plus-accordian {
  margin: 0 auto;
  max-width: 100%;
}

#faq-plus-app {
  padding-top: 0px;
}

.faq-plus-app-container {
  width: 1100px;
  display: block;
  margin: 0 auto;
  padding-top: 30px;
}

.faq-plus-app-container-search {
  width: 1100px;
  display: block;
  margin: 0 auto;
}

@media only screen and (max-width: 960px) {
  .faq-plus-app-container {
    width: 100%;
    display: block;
    padding: 14px;
  }

  #easy-faq-app-header {
    font-size: 30px;
  }

  .faqPlusAppAccordionForFeaturedFaq {
    margin: 0 auto;
    max-width: 100%;
  }

  .faq-plus-app-container-featured-faqs-content {
    margin: 0 auto;
    max-width: 90%;
  }

  .faq-plus-app-container-search {
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 14px;
  }
}
.faq-plus-category-topbar {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  margin-top: 24px;
}

@media only screen and (max-width: 960px) {
  .easy-faq-double-detail-box {
    display: inline-block;
    padding: 14px;
  }

  #easy-faq-app-top-section {
    height: 100%;
  }

  #easy-faq-app-top-section {
    background-size: cover;
  }

  .easy-faq-contact-details {
    text-align: center;
    padding-bottom: 10px;
  }

  #easy-faq-search-bar-section {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  #easy-faq-app-header {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .easy-faq-single-detail-box img, .easy-faq-double-detail-box img {
    max-width: 28px;
    margin-right: 10px;
  }

  .faq-plus-category-topbar {
    width: 90%;
    margin: 24px auto;
    text-align: center;
  }
}
.introTextFaqPlus {
  margin: 0 auto;
  padding-top: 2px;
  text-align: center;
  max-width: 1100px;
}

@media only screen and (max-width: 960px) {
  .introTextFaqPlus {
    padding: 4px;
  }

  .footerTextFaqPlus {
    padding: 14px;
  }

  .faq-plus-accordian {
    margin: 0 auto !important;
  }

  .faq-plus-accordian h2 {
    padding-top: 0px !important;
  }

  .easy-faq-search-bar input {
    width: 90%;
  }

  .faqPlusAppFeaturedFaqLabel:after, .faqPlusAppFeaturedFaqLabel:before {
    right: 6px;
  }

  .faq-plus-app-row {
    display: block !important;
  }
}
.col {
  flex: 1;
  /* additionally, equal width */
  padding: 0.3em;
}

.col {
  padding: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.faq-plus-app-row {
  display: flex;
  /* equal height of the children */
  padding: 0 0 14px;
}

.faqPlusAppContent img {
  max-width: 100%;
  border: 0;
}

.faqPlusAppFeaturedFaq {
  position: relative;
  margin-bottom: 12px;
}

.faqCollapseCategory, .faqPlusAppFaqCategory, .faq-plus-accordian h2 {
  font-size: 22px;
  font-weight: bold;
  color: #000000;
  padding-top: 16px;
  padding-bottom: 6px;
  text-transform: capitalize;
  text-align: left;
  font-style: unset;
  margin-top: 0;
  margin-bottom: 4px;
}

.faqPlusAppAnswer {
  margin: 0;
  padding: 1em 1em 1em 1em;
  line-height: 1.5;
}
