
button {
    border: none;
    appearance: none;
}

.faqAccordion > dt > button {
    background: transparent;
    position: relative;
    padding: 20px 20px 20px 40px;
    color: #000000;
    border-bottom: 1px solid #cccccc;
    text-align: left;
    display: block;
    cursor: pointer;
    width: 100%;
    outline: none;
    text-transform: initial;
    min-height: auto;
    height: auto;
    line-height: inherit;
    font-weight: normal;
    font-family: Roboto, sans-serif;
    font-style: normal;
    box-shadow: none;
    border-radius: 0px;
    font-size: 18px;
}

.faqAccordion > dt > button:hover, .faqAccordion > dt > button:focus {
    background: #f7f7f7;
    border: none;
    border-bottom: 1px solid #cccccc;
    color: #0087c1;
}

.faqAccordion > dt > button::after {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50.1%);
    -ms-transform: translateY(-50.1%);
    transform: translateY(-50.1%);
    left: 15px;
    font-size: 25px;
    content: "\002b";
    color: inherit;
}

.faqAccordion > dt > button[aria-expanded="true"]::after {
    content: "\002d";
    font-size: 30px;
}

.faqAccordion > dt:first-child > button {
    border-top: none;
}

.faqAccordion > dd {
    color: #333333;
    padding: 20px 0px 20px 0px;
}

.faqAccordion > dd[aria-hidden="true"] {
    display: none;
}

@media only screen and (max-width: 798px) {
    .faqAccordion > dd {
        margin-left: 15px;
    }
}

.accordion-tabs > a {
    display: block;
    background-color: #D1D3D4;
    margin: 10px 0;
    padding: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
}

.accordion-tabs > a :hover {
    cursor: pointer;
}

.accordion-tabs > li[id*=tab] {
    display: none;
    list-style: none;
}

/* Clearfixing tabs for beautiful stacking */
ul.tabs:before,
ul.tabs:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

ul.tabs:after {
    clear: both;
}

ul.tabs {
    zoom: 1;
}
