

body {
    font-family: "DM Sans", sans-serif;
    /*Roboto, sans-serif;*/
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    text-transform: none;
    color: #333333;
    line-height: 1.6em;
    overflow: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    scroll-behavior: smooth;
    background-color: #ffffff;
}

/*  block scroll on cart open */
/* body.blocked-scroll {
  position: fixed;
  overflow: hidden;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
} */
body.blocked-overflow {
    overflow: hidden;
}

::-moz-selection {
    background-color: #000;
    color: #fff;
}

::selection {
    background: #FFF7B6;
    color: black;
}

abbr {
    border-bottom: 1px dotted #cccccc;
}

/* Theme editor */
.editor-visible--true {
    display: block !important;
}

/* Lazyloading styles */
.transition--fade-in {
    opacity: 0;
    transition: opacity 0.2s ease-in;
}

.transition--fade-in.lazyloaded {
    opacity: 1;
}

img[data-sizes="auto"].lazyloaded {
    height: auto;
}

img[data-sizes="auto"],
img[data-sizes="100vw"] {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.image__container {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image-element__wrap {
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    margin: auto;
}

.image-element__wrap img {
    height: auto;
}

/*============================================================================
  Grid - full width columns, no gutter
    - Based on CSS Wizardry grid
==============================================================================*/
.grid {
    *zoom: 1;
    list-style: none;
    margin: 0;
    padding: 0;
}

.grid::after {
    content: '';
    display: table;
    clear: both;
}

.grid__item {
    float: left;
    width: 100%;
}

.grid__item[class*='--push'] {
    position: relative;
}

/*============================================================================
  Reversed grids allow you to structure your source in the opposite
  order to how your rendered layout will appear.
==============================================================================*/
.grid--rev {
    direction: rtl;
    text-align: left;
}

.grid--rev > .grid__item {
    direction: ltr;
    text-align: left;
    float: right;
}

/*================ Build Base Grid Classes ================*/
/* Base Grid */
.one {
    width: calc(6.25% - 20px);
}

.two {
    width: calc(12.5% - 20px);
}

.three {
    width: calc(18.75% - 20px);
}

.four {
    width: calc(25% - 20px);
}

.five {
    width: calc(31.25% - 20px);
}

.six {
    width: calc(37.5% - 20px);
}

.seven {
    width: calc(43.75% - 20px);
}

.eight {
    width: calc(50% - 20px);
}

.nine {
    width: calc(56.25% - 20px);
}

.ten {
    width: calc(62.5% - 20px);
}

.eleven {
    width: calc(68.75% - 20px);
}

.twelve {
    width: calc(75% - 20px);
}

.thirteen {
    width: calc(81.25% - 20px);
}

.fourteen {
    width: calc(87.5% - 20px);
}

.fifteen {
    width: calc(93.75% - 20px);
}

.sixteen {
    width: calc(100% - 20px);
}

/** Whole */
.one-whole {
    width: calc(100% - 20px);
    left: auto !important;
}

/* Halves */
.one-half {
    width: calc(50% - 20px);
}

/* Thirds */
.one-third {
    width: calc(33.33333% - 20px);
}

.two-thirds {
    width: calc(66.66667% - 20px);
}

/* Fourths */
.one-fourth {
    width: calc(25% - 20px);
}

.two-fourths {
    width: calc(50% - 20px);
}

.three-fourths {
    width: calc(75% - 20px);
}

/* Fifths */
.one-fifth {
    width: calc(20% - 20px);
}

.two-fifths {
    width: calc(40% - 20px);
}

.three-fifths {
    width: calc(60% - 20px);
}

.four-fifths {
    width: calc(80% - 20px);
}

/* Sixths */
.one-sixth {
    width: calc(16.66667% - 20px);
}

.two-sixths {
    width: calc(33.33333% - 20px);
}

.three-sixths {
    width: calc(50% - 20px);
}

.four-sixths {
    width: calc(66.66667% - 20px);
}

.five-sixths {
    width: calc(83.33333% - 20px);
}

/* Sevenths */
.one-seventh {
    width: calc(14.28571% - 20px);
}

.two-sevenths {
    width: calc(28.57143% - 20px);
}

.three-sevenths {
    width: calc(42.85714% - 20px);
}

.four-sevenths {
    width: calc(57.14286% - 20px);
}

.five-sevenths {
    width: calc(71.42857% - 20px);
}

/* Eighths */
.one-eighth {
    width: calc(12.5% - 20px);
}

.two-eighths {
    width: calc(25% - 20px);
}

.three-eighths {
    width: calc(37.5% - 20px);
}

.four-eighths {
    width: calc(50% - 20px);
}

.five-eighths {
    width: calc(62.5% - 20px);
}

.six-eighths {
    width: calc(75% - 20px);
}

.seven-eighths {
    width: calc(87.5% - 20px);
}

/* Tenths */
.one-tenth {
    width: calc(10% - 20px);
}

.two-tenths {
    width: calc(20% - 20px);
}

.three-tenths {
    width: calc(30% - 20px);
}

.four-tenths {
    width: calc(40% - 20px);
}

.five-tenths {
    width: calc(50% - 20px);
}

.six-tenths {
    width: calc(60% - 20px);
}

.seven-tenths {
    width: calc(70% - 20px);
}

.eight-tenths {
    width: calc(80% - 20px);
}

.nine-tenths {
    width: calc(90% - 20px);
}

/* Twelfths */
.one-twelfth {
    width: calc(8.33333% - 20px);
}

.two-twelfths {
    width: calc(16.66667% - 20px);
}

.three-twelfths {
    width: calc(25% - 20px);
}

.four-twelfths {
    width: calc(33.33333% - 20px);
}

.five-twelfths {
    width: calc(41.66667% - 20px);
}

.six-twelfths {
    width: calc(50% - 20px);
}

.seven-twelfths {
    width: calc(58.33333% - 20px);
}

.eight-twelfths {
    width: calc(66.66667% - 20px);
}

.nine-twelfths {
    width: calc(75% - 20px);
}

.ten-twelfths {
    width: calc(83.33333% - 20px);
}

.eleven-twelfths {
    width: calc(91.66667% - 20px);
}

.equal-columns--clear .one-half:nth-of-type(2n+1),
.equal-columns--clear .eight:nth-of-type(2n+1),
.equal-columns--clear .one-third:nth-of-type(3n+1),
.equal-columns--clear .one-fourth:nth-of-type(4n+1),
.equal-columns--clear .four:nth-of-type(4n+1),
.equal-columns--clear .one-fifth:nth-of-type(5n+1),
.equal-columns--clear .one-sixth:nth-of-type(6n+1),
.equal-columns--clear .one-seventh:nth-of-type(7n+1) {
    clear: both;
}

.equal-columns--outside-trim .one-half:nth-of-type(2n),
.equal-columns--outside-trim .eight:nth-of-type(2n),
.equal-columns--outside-trim .one-third:nth-of-type(3n),
.equal-columns--outside-trim .one-fourth:nth-of-type(4n),
.equal-columns--outside-trim .four:nth-of-type(4n),
.equal-columns--outside-trim .one-fifth:nth-of-type(5n),
.equal-columns--outside-trim .one-sixth:nth-of-type(6n),
.equal-columns--outside-trim .one-seventh:nth-of-type(7n),
.equal-columns--outside-trim .two:nth-of-type(8n) {
    margin-right: 0;
}

.equal-columns--outside-trim .one-half:nth-of-type(2n+1),
.equal-columns--outside-trim .eight:nth-of-type(2n+1),
.equal-columns--outside-trim .one-third:nth-of-type(3n+1),
.equal-columns--outside-trim .one-fourth:nth-of-type(4n+1),
.equal-columns--outside-trim .four:nth-of-type(4n+1),
.equal-columns--outside-trim .one-fifth:nth-of-type(5n+1),
.equal-columns--outside-trim .one-sixth:nth-of-type(6n+1),
.equal-columns--outside-trim .one-seventh:nth-of-type(7n+1),
.equal-columns--outside-trim .two:nth-of-type(8n+1) {
    margin-left: 0;
}

.equal-columns--outside-trim .one-whole:nth-of-type(1n+1) {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
}

.equal-columns--outside-trim .one-half {
    width: calc(50% - (20px - (20px / 2)));
}

.equal-columns--outside-trim .one-third {
    width: calc(33.33333% - (20px - (20px / 3)));
}

.equal-columns--outside-trim .one-fifth {
    width: calc(20% - (20px - (20px / 5)));
}

.equal-columns--outside-trim .one-fourth {
    width: calc(25% - (20px - (20px / 4)));
}

.equal-columns--outside-trim .one-sixth {
    width: calc(16.66667% - (20px - (20px / 6)));
}

.equal-columns--outside-trim .one-seventh {
    width: calc(14.28571% - (20px - (20px / 7)));
}

.equal-columns--outside-trim .two {
    width: calc(12.5% - (20px - (20px / 8)));
}

.equal-columns--outside-trim .four {
    width: calc(25% - (20px - (20px / 4)));
}

.equal-columns--outside-trim .seven {
    width: calc(43.75% - (20px - (20px / 2)));
}

.equal-columns--outside-trim .eight {
    width: calc(50% - (20px / 2));
}

.equal-columns--outside-trim .nine {
    width: calc(56.25% - (20px - (20px / 2)));
}

.show {
    display: block !important;
}

.hide {
    display: none !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

/*============================================================================
  Generate breakpoint-specific column widths and push classes
    - Default column widths: $breakpoint-has-widths: ($small, $medium-up);
    - Default is no push classes
    - Will not work if `styles/global/grid.scss` is removed
==============================================================================*/
@media only screen and (max-width: 1024px) {
    /* Base Grid */
    .large-down--one {
        width: calc(6.25% - 20px);
    }

    .large-down--two {
        width: calc(12.5% - 20px);
    }

    .large-down--three {
        width: calc(18.75% - 20px);
    }

    .large-down--four {
        width: calc(25% - 20px);
    }

    .large-down--five {
        width: calc(31.25% - 20px);
    }

    .large-down--six {
        width: calc(37.5% - 20px);
    }

    .large-down--seven {
        width: calc(43.75% - 20px);
    }

    .large-down--eight {
        width: calc(50% - 20px);
    }

    .large-down--nine {
        width: calc(56.25% - 20px);
    }

    .large-down--ten {
        width: calc(62.5% - 20px);
    }

    .large-down--eleven {
        width: calc(68.75% - 20px);
    }

    .large-down--twelve {
        width: calc(75% - 20px);
    }

    .large-down--thirteen {
        width: calc(81.25% - 20px);
    }

    .large-down--fourteen {
        width: calc(87.5% - 20px);
    }

    .large-down--fifteen {
        width: calc(93.75% - 20px);
    }

    .large-down--sixteen {
        width: calc(100% - 20px);
    }

    /** Whole */
    .large-down--one-whole {
        width: calc(100% - 20px);
        left: auto !important;
    }

    /* Halves */
    .large-down--one-half {
        width: calc(50% - 20px);
    }

    /* Thirds */
    .large-down--one-third {
        width: calc(33.33333% - 20px);
    }

    .large-down--two-thirds {
        width: calc(66.66667% - 20px);
    }

    /* Fourths */
    .large-down--one-fourth {
        width: calc(25% - 20px);
    }

    .large-down--two-fourths {
        width: calc(50% - 20px);
    }

    .large-down--three-fourths {
        width: calc(75% - 20px);
    }

    /* Fifths */
    .large-down--one-fifth {
        width: calc(20% - 20px);
    }

    .large-down--two-fifths {
        width: calc(40% - 20px);
    }

    .large-down--three-fifths {
        width: calc(60% - 20px);
    }

    .large-down--four-fifths {
        width: calc(80% - 20px);
    }

    /* Sixths */
    .large-down--one-sixth {
        width: calc(16.66667% - 20px);
    }

    .large-down--two-sixths {
        width: calc(33.33333% - 20px);
    }

    .large-down--three-sixths {
        width: calc(50% - 20px);
    }

    .large-down--four-sixths {
        width: calc(66.66667% - 20px);
    }

    .large-down--five-sixths {
        width: calc(83.33333% - 20px);
    }

    /* Sevenths */
    .large-down--one-seventh {
        width: calc(14.28571% - 20px);
    }

    .large-down--two-sevenths {
        width: calc(28.57143% - 20px);
    }

    .large-down--three-sevenths {
        width: calc(42.85714% - 20px);
    }

    .large-down--four-sevenths {
        width: calc(57.14286% - 20px);
    }

    .large-down--five-sevenths {
        width: calc(71.42857% - 20px);
    }

    /* Eighths */
    .large-down--one-eighth {
        width: calc(12.5% - 20px);
    }

    .large-down--two-eighths {
        width: calc(25% - 20px);
    }

    .large-down--three-eighths {
        width: calc(37.5% - 20px);
    }

    .large-down--four-eighths {
        width: calc(50% - 20px);
    }

    .large-down--five-eighths {
        width: calc(62.5% - 20px);
    }

    .large-down--six-eighths {
        width: calc(75% - 20px);
    }

    .large-down--seven-eighths {
        width: calc(87.5% - 20px);
    }

    /* Tenths */
    .large-down--one-tenth {
        width: calc(10% - 20px);
    }

    .large-down--two-tenths {
        width: calc(20% - 20px);
    }

    .large-down--three-tenths {
        width: calc(30% - 20px);
    }

    .large-down--four-tenths {
        width: calc(40% - 20px);
    }

    .large-down--five-tenths {
        width: calc(50% - 20px);
    }

    .large-down--six-tenths {
        width: calc(60% - 20px);
    }

    .large-down--seven-tenths {
        width: calc(70% - 20px);
    }

    .large-down--eight-tenths {
        width: calc(80% - 20px);
    }

    .large-down--nine-tenths {
        width: calc(90% - 20px);
    }

    /* Twelfths */
    .large-down--one-twelfth {
        width: calc(8.33333% - 20px);
    }

    .large-down--two-twelfths {
        width: calc(16.66667% - 20px);
    }

    .large-down--three-twelfths {
        width: calc(25% - 20px);
    }

    .large-down--four-twelfths {
        width: calc(33.33333% - 20px);
    }

    .large-down--five-twelfths {
        width: calc(41.66667% - 20px);
    }

    .large-down--six-twelfths {
        width: calc(50% - 20px);
    }

    .large-down--seven-twelfths {
        width: calc(58.33333% - 20px);
    }

    .large-down--eight-twelfths {
        width: calc(66.66667% - 20px);
    }

    .large-down--nine-twelfths {
        width: calc(75% - 20px);
    }

    .large-down--ten-twelfths {
        width: calc(83.33333% - 20px);
    }

    .large-down--eleven-twelfths {
        width: calc(91.66667% - 20px);
    }

    .equal-columns--outside-trim .large-down--one-half:nth-of-type(2n),
    .equal-columns--outside-trim .large-down--eight:nth-of-type(2n),
    .equal-columns--outside-trim .large-down--one-third:nth-of-type(3n),
    .equal-columns--outside-trim .large-down--one-fourth:nth-of-type(4n),
    .equal-columns--outside-trim .large-down--four:nth-of-type(4n),
    .equal-columns--outside-trim .large-down--one-fifth:nth-of-type(5n),
    .equal-columns--outside-trim .large-down--one-sixth:nth-of-type(6n),
    .equal-columns--outside-trim .large-down--one-seventh:nth-of-type(7n),
    .equal-columns--outside-trim .large-down--two:nth-of-type(8n) {
        margin-right: 0;
    }

    .equal-columns--outside-trim .large-down--one-half:nth-of-type(2n+1),
    .equal-columns--outside-trim .large-down--eight:nth-of-type(2n+1),
    .equal-columns--outside-trim .large-down--one-third:nth-of-type(3n+1),
    .equal-columns--outside-trim .large-down--one-fourth:nth-of-type(4n+1),
    .equal-columns--outside-trim .large-down--four:nth-of-type(4n+1),
    .equal-columns--outside-trim .large-down--one-fifth:nth-of-type(5n+1),
    .equal-columns--outside-trim .large-down--one-sixth:nth-of-type(6n+1),
    .equal-columns--outside-trim .large-down--one-seventh:nth-of-type(7n+1),
    .equal-columns--outside-trim .large-down--two:nth-of-type(8n+1) {
        margin-left: 0;
    }

    .equal-columns--outside-trim .large-down--one-whole:nth-of-type(1n+1) {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }

    .equal-columns--outside-trim .large-down--one-half {
        width: calc(50% - (20px - (20px / 2)));
    }

    .equal-columns--outside-trim .large-down--one-third {
        width: calc(33.33333% - (20px - (20px / 3)));
    }

    .equal-columns--outside-trim .large-down--one-fifth {
        width: calc(20% - (20px - (20px / 5)));
    }

    .equal-columns--outside-trim .large-down--one-fourth {
        width: calc(25% - (20px - (20px / 4)));
    }

    .equal-columns--outside-trim .large-down--one-sixth {
        width: calc(16.66667% - (20px - (20px / 6)));
    }

    .equal-columns--outside-trim .large-down--one-seventh {
        width: calc(14.28571% - (20px - (20px / 7)));
    }

    .equal-columns--outside-trim .large-down--two {
        width: calc(12.5% - (20px - (20px / 8)));
    }

    .equal-columns--outside-trim .large-down--four {
        width: calc(25% - (20px - (20px / 4)));
    }

    .equal-columns--outside-trim .large-down--seven {
        width: calc(43.75% - (20px - (20px / 2)));
    }

    .equal-columns--outside-trim .large-down--eight {
        width: calc(50% - (20px / 2));
    }

    .equal-columns--outside-trim .large-down--nine {
        width: calc(56.25% - (20px - (20px / 2)));
    }

    .large-down--show {
        display: block !important;
    }

    .large-down--hide {
        display: none !important;
    }

    .large-down--text-left {
        text-align: left !important;
    }

    .large-down--text-right {
        text-align: right !important;
    }

    .large-down--text-center {
        text-align: center !important;
    }
}

@media only screen and (max-width: 1024px) and (max-width: 1024px) {
    .equal-columns--clear .large-down--one-half.large-down--one-half,
    .equal-columns--clear .large-down--eight.large-down--eight,
    .equal-columns--clear .large-down--one-third.large-down--one-third,
    .equal-columns--clear .large-down--one-fourth.large-down--one-fourth,
    .equal-columns--clear .large-down--four.large-down--four,
    .equal-columns--clear .large-down--one-fifth.large-down--one-fifth,
    .equal-columns--clear .large-down--one-sixth.large-down--one-sixth,
    .equal-columns--clear .large-down--one-seventh.large-down--one-seventh {
        clear: none;
    }

    .equal-columns--clear .large-down--one-half:nth-of-type(2n+1),
    .equal-columns--clear .large-down--eight:nth-of-type(2n+1),
    .equal-columns--clear .large-down--one-third:nth-of-type(3n+1),
    .equal-columns--clear .large-down--one-fourth:nth-of-type(4n+1),
    .equal-columns--clear .large-down--four:nth-of-type(4n+1),
    .equal-columns--clear .large-down--one-fifth:nth-of-type(5n+1),
    .equal-columns--clear .large-down--one-sixth:nth-of-type(6n+1),
    .equal-columns--clear .large-down--one-seventh:nth-of-type(7n+1) {
        clear: both;
    }
}

@media only screen and (max-width: 1024px) and (max-width: 1024px) {
    .equal-columns--outside-trim .large-down--one-half.large-down--one-half,
    .equal-columns--outside-trim .large-down--eight.large-down--eight,
    .equal-columns--outside-trim .large-down--one-third.large-down--one-third,
    .equal-columns--outside-trim .large-down--one-fourth.large-down--one-fourth,
    .equal-columns--outside-trim .large-down--four.large-down--four,
    .equal-columns--outside-trim .large-down--one-fifth.large-down--one-fifth,
    .equal-columns--outside-trim .large-down--one-sixth.large-down--one-sixth,
    .equal-columns--outside-trim .large-down--one-seventh.large-down--one-seventh,
    .equal-columns--outside-trim .large-down--two.large-down--two {
        margin-right: 10px;
        margin-left: 10px;
    }

    .equal-columns--outside-trim .large-down--one-half:nth-of-type(2n),
    .equal-columns--outside-trim .large-down--eight:nth-of-type(2n),
    .equal-columns--outside-trim .large-down--one-third:nth-of-type(3n),
    .equal-columns--outside-trim .large-down--one-fourth:nth-of-type(4n),
    .equal-columns--outside-trim .large-down--four:nth-of-type(4n),
    .equal-columns--outside-trim .large-down--one-fifth:nth-of-type(5n),
    .equal-columns--outside-trim .large-down--one-sixth:nth-of-type(6n),
    .equal-columns--outside-trim .large-down--one-seventh:nth-of-type(7n),
    .equal-columns--outside-trim .large-down--two:nth-of-type(8n) {
        margin-right: 0;
    }

    .equal-columns--outside-trim .large-down--one-half:nth-of-type(2n+1),
    .equal-columns--outside-trim .large-down--eight:nth-of-type(2n+1),
    .equal-columns--outside-trim .large-down--one-third:nth-of-type(3n+1),
    .equal-columns--outside-trim .large-down--one-fourth:nth-of-type(4n+1),
    .equal-columns--outside-trim .large-down--four:nth-of-type(4n+1),
    .equal-columns--outside-trim .large-down--one-fifth:nth-of-type(5n+1),
    .equal-columns--outside-trim .large-down--one-sixth:nth-of-type(6n+1),
    .equal-columns--outside-trim .large-down--one-seventh:nth-of-type(7n+1),
    .equal-columns--outside-trim .large-down--two:nth-of-type(8n+1) {
        margin-left: 0;
    }
}

@media only screen and (max-width: 798px) {
    /* Base Grid */
    .medium-down--one {
        width: calc(6.25% - 20px);
    }

    .medium-down--two {
        width: calc(12.5% - 20px);
    }

    .medium-down--three {
        width: calc(18.75% - 20px);
    }

    .medium-down--four {
        width: calc(25% - 20px);
    }

    .medium-down--five {
        width: calc(31.25% - 20px);
    }

    .medium-down--six {
        width: calc(37.5% - 20px);
    }

    .medium-down--seven {
        width: calc(43.75% - 20px);
    }

    .medium-down--eight {
        width: calc(50% - 20px);
    }

    .medium-down--nine {
        width: calc(56.25% - 20px);
    }

    .medium-down--ten {
        width: calc(62.5% - 20px);
    }

    .medium-down--eleven {
        width: calc(68.75% - 20px);
    }

    .medium-down--twelve {
        width: calc(75% - 20px);
    }

    .medium-down--thirteen {
        width: calc(81.25% - 20px);
    }

    .medium-down--fourteen {
        width: calc(87.5% - 20px);
    }

    .medium-down--fifteen {
        width: calc(93.75% - 20px);
    }

    .medium-down--sixteen {
        width: calc(100% - 20px);
    }

    /** Whole */
    .medium-down--one-whole {
        width: calc(100% - 20px);
        left: auto !important;
    }

    /* Halves */
    .medium-down--one-half {
        width: calc(50% - 20px);
    }

    /* Thirds */
    .medium-down--one-third {
        width: calc(33.33333% - 20px);
    }

    .medium-down--two-thirds {
        width: calc(66.66667% - 20px);
    }

    /* Fourths */
    .medium-down--one-fourth {
        width: calc(25% - 20px);
    }

    .medium-down--two-fourths {
        width: calc(50% - 20px);
    }

    .medium-down--three-fourths {
        width: calc(75% - 20px);
    }

    /* Fifths */
    .medium-down--one-fifth {
        width: calc(20% - 20px);
    }

    .medium-down--two-fifths {
        width: calc(40% - 20px);
    }

    .medium-down--three-fifths {
        width: calc(60% - 20px);
    }

    .medium-down--four-fifths {
        width: calc(80% - 20px);
    }

    /* Sixths */
    .medium-down--one-sixth {
        width: calc(16.66667% - 20px);
    }

    .medium-down--two-sixths {
        width: calc(33.33333% - 20px);
    }

    .medium-down--three-sixths {
        width: calc(50% - 20px);
    }

    .medium-down--four-sixths {
        width: calc(66.66667% - 20px);
    }

    .medium-down--five-sixths {
        width: calc(83.33333% - 20px);
    }

    /* Sevenths */
    .medium-down--one-seventh {
        width: calc(14.28571% - 20px);
    }

    .medium-down--two-sevenths {
        width: calc(28.57143% - 20px);
    }

    .medium-down--three-sevenths {
        width: calc(42.85714% - 20px);
    }

    .medium-down--four-sevenths {
        width: calc(57.14286% - 20px);
    }

    .medium-down--five-sevenths {
        width: calc(71.42857% - 20px);
    }

    /* Eighths */
    .medium-down--one-eighth {
        width: calc(12.5% - 20px);
    }

    .medium-down--two-eighths {
        width: calc(25% - 20px);
    }

    .medium-down--three-eighths {
        width: calc(37.5% - 20px);
    }

    .medium-down--four-eighths {
        width: calc(50% - 20px);
    }

    .medium-down--five-eighths {
        width: calc(62.5% - 20px);
    }

    .medium-down--six-eighths {
        width: calc(75% - 20px);
    }

    .medium-down--seven-eighths {
        width: calc(87.5% - 20px);
    }

    /* Tenths */
    .medium-down--one-tenth {
        width: calc(10% - 20px);
    }

    .medium-down--two-tenths {
        width: calc(20% - 20px);
    }

    .medium-down--three-tenths {
        width: calc(30% - 20px);
    }

    .medium-down--four-tenths {
        width: calc(40% - 20px);
    }

    .medium-down--five-tenths {
        width: calc(50% - 20px);
    }

    .medium-down--six-tenths {
        width: calc(60% - 20px);
    }

    .medium-down--seven-tenths {
        width: calc(70% - 20px);
    }

    .medium-down--eight-tenths {
        width: calc(80% - 20px);
    }

    .medium-down--nine-tenths {
        width: calc(90% - 20px);
    }

    /* Twelfths */
    .medium-down--one-twelfth {
        width: calc(8.33333% - 20px);
    }

    .medium-down--two-twelfths {
        width: calc(16.66667% - 20px);
    }

    .medium-down--three-twelfths {
        width: calc(25% - 20px);
    }

    .medium-down--four-twelfths {
        width: calc(33.33333% - 20px);
    }

    .medium-down--five-twelfths {
        width: calc(41.66667% - 20px);
    }

    .medium-down--six-twelfths {
        width: calc(50% - 20px);
    }

    .medium-down--seven-twelfths {
        width: calc(58.33333% - 20px);
    }

    .medium-down--eight-twelfths {
        width: calc(66.66667% - 20px);
    }

    .medium-down--nine-twelfths {
        width: calc(75% - 20px);
    }

    .medium-down--ten-twelfths {
        width: calc(83.33333% - 20px);
    }

    .medium-down--eleven-twelfths {
        width: calc(91.66667% - 20px);
    }

    .equal-columns--outside-trim .medium-down--one-half:nth-of-type(2n),
    .equal-columns--outside-trim .medium-down--eight:nth-of-type(2n),
    .equal-columns--outside-trim .medium-down--one-third:nth-of-type(3n),
    .equal-columns--outside-trim .medium-down--one-fourth:nth-of-type(4n),
    .equal-columns--outside-trim .medium-down--four:nth-of-type(4n),
    .equal-columns--outside-trim .medium-down--one-fifth:nth-of-type(5n),
    .equal-columns--outside-trim .medium-down--one-sixth:nth-of-type(6n),
    .equal-columns--outside-trim .medium-down--one-seventh:nth-of-type(7n),
    .equal-columns--outside-trim .medium-down--two:nth-of-type(8n) {
        margin-right: 0;
    }

    .equal-columns--outside-trim .medium-down--one-half:nth-of-type(2n+1),
    .equal-columns--outside-trim .medium-down--eight:nth-of-type(2n+1),
    .equal-columns--outside-trim .medium-down--one-third:nth-of-type(3n+1),
    .equal-columns--outside-trim .medium-down--one-fourth:nth-of-type(4n+1),
    .equal-columns--outside-trim .medium-down--four:nth-of-type(4n+1),
    .equal-columns--outside-trim .medium-down--one-fifth:nth-of-type(5n+1),
    .equal-columns--outside-trim .medium-down--one-sixth:nth-of-type(6n+1),
    .equal-columns--outside-trim .medium-down--one-seventh:nth-of-type(7n+1),
    .equal-columns--outside-trim .medium-down--two:nth-of-type(8n+1) {
        margin-left: 0;
    }

    .equal-columns--outside-trim .medium-down--one-whole:nth-of-type(1n+1) {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }

    .equal-columns--outside-trim .medium-down--one-half {
        width: calc(50% - (20px - (20px / 2)));
    }

    .equal-columns--outside-trim .medium-down--one-third {
        width: calc(33.33333% - (20px - (20px / 3)));
    }

    .equal-columns--outside-trim .medium-down--one-fifth {
        width: calc(20% - (20px - (20px / 5)));
    }

    .equal-columns--outside-trim .medium-down--one-fourth {
        width: calc(25% - (20px - (20px / 4)));
    }

    .equal-columns--outside-trim .medium-down--one-sixth {
        width: calc(16.66667% - (20px - (20px / 6)));
    }

    .equal-columns--outside-trim .medium-down--one-seventh {
        width: calc(14.28571% - (20px - (20px / 7)));
    }

    .equal-columns--outside-trim .medium-down--two {
        width: calc(12.5% - (20px - (20px / 8)));
    }

    .equal-columns--outside-trim .medium-down--four {
        width: calc(25% - (20px - (20px / 4)));
    }

    .equal-columns--outside-trim .medium-down--seven {
        width: calc(43.75% - (20px - (20px / 2)));
    }

    .equal-columns--outside-trim .medium-down--eight {
        width: calc(50% - (20px / 2));
    }

    .equal-columns--outside-trim .medium-down--nine {
        width: calc(56.25% - (20px - (20px / 2)));
    }

    .medium-down--show {
        display: block !important;
    }

    .medium-down--hide {
        display: none !important;
    }

    .medium-down--text-left {
        text-align: left !important;
    }

    .medium-down--text-right {
        text-align: right !important;
    }

    .medium-down--text-center {
        text-align: center !important;
    }
}

@media only screen and (max-width: 798px) and (max-width: 798px) {
    .equal-columns--clear .medium-down--one-half.medium-down--one-half,
    .equal-columns--clear .medium-down--eight.medium-down--eight,
    .equal-columns--clear .medium-down--one-third.medium-down--one-third,
    .equal-columns--clear .medium-down--one-fourth.medium-down--one-fourth,
    .equal-columns--clear .medium-down--four.medium-down--four,
    .equal-columns--clear .medium-down--one-fifth.medium-down--one-fifth,
    .equal-columns--clear .medium-down--one-sixth.medium-down--one-sixth,
    .equal-columns--clear .medium-down--one-seventh.medium-down--one-seventh {
        clear: none;
    }

    .equal-columns--clear .medium-down--one-half:nth-of-type(2n+1),
    .equal-columns--clear .medium-down--eight:nth-of-type(2n+1),
    .equal-columns--clear .medium-down--one-third:nth-of-type(3n+1),
    .equal-columns--clear .medium-down--one-fourth:nth-of-type(4n+1),
    .equal-columns--clear .medium-down--four:nth-of-type(4n+1),
    .equal-columns--clear .medium-down--one-fifth:nth-of-type(5n+1),
    .equal-columns--clear .medium-down--one-sixth:nth-of-type(6n+1),
    .equal-columns--clear .medium-down--one-seventh:nth-of-type(7n+1) {
        clear: both;
    }
}

@media only screen and (max-width: 798px) and (max-width: 798px) {
    .equal-columns--outside-trim .medium-down--one-half.medium-down--one-half,
    .equal-columns--outside-trim .medium-down--eight.medium-down--eight,
    .equal-columns--outside-trim .medium-down--one-third.medium-down--one-third,
    .equal-columns--outside-trim .medium-down--one-fourth.medium-down--one-fourth,
    .equal-columns--outside-trim .medium-down--four.medium-down--four,
    .equal-columns--outside-trim .medium-down--one-fifth.medium-down--one-fifth,
    .equal-columns--outside-trim .medium-down--one-sixth.medium-down--one-sixth,
    .equal-columns--outside-trim .medium-down--one-seventh.medium-down--one-seventh,
    .equal-columns--outside-trim .medium-down--two.medium-down--two {
        margin-right: 10px;
        margin-left: 10px;
    }

    .equal-columns--outside-trim .medium-down--one-half:nth-of-type(2n),
    .equal-columns--outside-trim .medium-down--eight:nth-of-type(2n),
    .equal-columns--outside-trim .medium-down--one-third:nth-of-type(3n),
    .equal-columns--outside-trim .medium-down--one-fourth:nth-of-type(4n),
    .equal-columns--outside-trim .medium-down--four:nth-of-type(4n),
    .equal-columns--outside-trim .medium-down--one-fifth:nth-of-type(5n),
    .equal-columns--outside-trim .medium-down--one-sixth:nth-of-type(6n),
    .equal-columns--outside-trim .medium-down--one-seventh:nth-of-type(7n),
    .equal-columns--outside-trim .medium-down--two:nth-of-type(8n) {
        margin-right: 0;
    }

    .equal-columns--outside-trim .medium-down--one-half:nth-of-type(2n+1),
    .equal-columns--outside-trim .medium-down--eight:nth-of-type(2n+1),
    .equal-columns--outside-trim .medium-down--one-third:nth-of-type(3n+1),
    .equal-columns--outside-trim .medium-down--one-fourth:nth-of-type(4n+1),
    .equal-columns--outside-trim .medium-down--four:nth-of-type(4n+1),
    .equal-columns--outside-trim .medium-down--one-fifth:nth-of-type(5n+1),
    .equal-columns--outside-trim .medium-down--one-sixth:nth-of-type(6n+1),
    .equal-columns--outside-trim .medium-down--one-seventh:nth-of-type(7n+1),
    .equal-columns--outside-trim .medium-down--two:nth-of-type(8n+1) {
        margin-left: 0;
    }
}

@media only screen and (max-width: 480px) {
    /* Base Grid */
    .small-down--one {
        width: calc(6.25% - 20px);
    }

    .small-down--two {
        width: calc(12.5% - 20px);
    }

    .small-down--three {
        width: calc(18.75% - 20px);
    }

    .small-down--four {
        width: calc(25% - 20px);
    }

    .small-down--five {
        width: calc(31.25% - 20px);
    }

    .small-down--six {
        width: calc(37.5% - 20px);
    }

    .small-down--seven {
        width: calc(43.75% - 20px);
    }

    .small-down--eight {
        width: calc(50% - 20px);
    }

    .small-down--nine {
        width: calc(56.25% - 20px);
    }

    .small-down--ten {
        width: calc(62.5% - 20px);
    }

    .small-down--eleven {
        width: calc(68.75% - 20px);
    }

    .small-down--twelve {
        width: calc(75% - 20px);
    }

    .small-down--thirteen {
        width: calc(81.25% - 20px);
    }

    .small-down--fourteen {
        width: calc(87.5% - 20px);
    }

    .small-down--fifteen {
        width: calc(93.75% - 20px);
    }

    .small-down--sixteen {
        width: calc(100% - 20px);
    }

    /** Whole */
    .small-down--one-whole {
        width: calc(100% - 20px);
        left: auto !important;
    }

    /* Halves */
    .small-down--one-half {
        width: calc(50% - 20px);
    }

    /* Thirds */
    .small-down--one-third {
        width: calc(33.33333% - 20px);
    }

    .small-down--two-thirds {
        width: calc(66.66667% - 20px);
    }

    /* Fourths */
    .small-down--one-fourth {
        width: calc(25% - 20px);
    }

    .small-down--two-fourths {
        width: calc(50% - 20px);
    }

    .small-down--three-fourths {
        width: calc(75% - 20px);
    }

    /* Fifths */
    .small-down--one-fifth {
        width: calc(20% - 20px);
    }

    .small-down--two-fifths {
        width: calc(40% - 20px);
    }

    .small-down--three-fifths {
        width: calc(60% - 20px);
    }

    .small-down--four-fifths {
        width: calc(80% - 20px);
    }

    /* Sixths */
    .small-down--one-sixth {
        width: calc(16.66667% - 20px);
    }

    .small-down--two-sixths {
        width: calc(33.33333% - 20px);
    }

    .small-down--three-sixths {
        width: calc(50% - 20px);
    }

    .small-down--four-sixths {
        width: calc(66.66667% - 20px);
    }

    .small-down--five-sixths {
        width: calc(83.33333% - 20px);
    }

    /* Sevenths */
    .small-down--one-seventh {
        width: calc(14.28571% - 20px);
    }

    .small-down--two-sevenths {
        width: calc(28.57143% - 20px);
    }

    .small-down--three-sevenths {
        width: calc(42.85714% - 20px);
    }

    .small-down--four-sevenths {
        width: calc(57.14286% - 20px);
    }

    .small-down--five-sevenths {
        width: calc(71.42857% - 20px);
    }

    /* Eighths */
    .small-down--one-eighth {
        width: calc(12.5% - 20px);
    }

    .small-down--two-eighths {
        width: calc(25% - 20px);
    }

    .small-down--three-eighths {
        width: calc(37.5% - 20px);
    }

    .small-down--four-eighths {
        width: calc(50% - 20px);
    }

    .small-down--five-eighths {
        width: calc(62.5% - 20px);
    }

    .small-down--six-eighths {
        width: calc(75% - 20px);
    }

    .small-down--seven-eighths {
        width: calc(87.5% - 20px);
    }

    /* Tenths */
    .small-down--one-tenth {
        width: calc(10% - 20px);
    }

    .small-down--two-tenths {
        width: calc(20% - 20px);
    }

    .small-down--three-tenths {
        width: calc(30% - 20px);
    }

    .small-down--four-tenths {
        width: calc(40% - 20px);
    }

    .small-down--five-tenths {
        width: calc(50% - 20px);
    }

    .small-down--six-tenths {
        width: calc(60% - 20px);
    }

    .small-down--seven-tenths {
        width: calc(70% - 20px);
    }

    .small-down--eight-tenths {
        width: calc(80% - 20px);
    }

    .small-down--nine-tenths {
        width: calc(90% - 20px);
    }

    /* Twelfths */
    .small-down--one-twelfth {
        width: calc(8.33333% - 20px);
    }

    .small-down--two-twelfths {
        width: calc(16.66667% - 20px);
    }

    .small-down--three-twelfths {
        width: calc(25% - 20px);
    }

    .small-down--four-twelfths {
        width: calc(33.33333% - 20px);
    }

    .small-down--five-twelfths {
        width: calc(41.66667% - 20px);
    }

    .small-down--six-twelfths {
        width: calc(50% - 20px);
    }

    .small-down--seven-twelfths {
        width: calc(58.33333% - 20px);
    }

    .small-down--eight-twelfths {
        width: calc(66.66667% - 20px);
    }

    .small-down--nine-twelfths {
        width: calc(75% - 20px);
    }

    .small-down--ten-twelfths {
        width: calc(83.33333% - 20px);
    }

    .small-down--eleven-twelfths {
        width: calc(91.66667% - 20px);
    }

    .equal-columns--outside-trim .small-down--one-half:nth-of-type(2n),
    .equal-columns--outside-trim .small-down--eight:nth-of-type(2n),
    .equal-columns--outside-trim .small-down--one-third:nth-of-type(3n),
    .equal-columns--outside-trim .small-down--one-fourth:nth-of-type(4n),
    .equal-columns--outside-trim .small-down--four:nth-of-type(4n),
    .equal-columns--outside-trim .small-down--one-fifth:nth-of-type(5n),
    .equal-columns--outside-trim .small-down--one-sixth:nth-of-type(6n),
    .equal-columns--outside-trim .small-down--one-seventh:nth-of-type(7n),
    .equal-columns--outside-trim .small-down--two:nth-of-type(8n) {
        margin-right: 0;
    }

    .equal-columns--outside-trim .small-down--one-half:nth-of-type(2n+1),
    .equal-columns--outside-trim .small-down--eight:nth-of-type(2n+1),
    .equal-columns--outside-trim .small-down--one-third:nth-of-type(3n+1),
    .equal-columns--outside-trim .small-down--one-fourth:nth-of-type(4n+1),
    .equal-columns--outside-trim .small-down--four:nth-of-type(4n+1),
    .equal-columns--outside-trim .small-down--one-fifth:nth-of-type(5n+1),
    .equal-columns--outside-trim .small-down--one-sixth:nth-of-type(6n+1),
    .equal-columns--outside-trim .small-down--one-seventh:nth-of-type(7n+1),
    .equal-columns--outside-trim .small-down--two:nth-of-type(8n+1) {
        margin-left: 0;
    }

    .equal-columns--outside-trim .small-down--one-whole:nth-of-type(1n+1) {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }

    .equal-columns--outside-trim .small-down--one-half {
        width: calc(50% - (20px - (20px / 2)));
    }

    .equal-columns--outside-trim .small-down--one-third {
        width: calc(33.33333% - (20px - (20px / 3)));
    }

    .equal-columns--outside-trim .small-down--one-fifth {
        width: calc(20% - (20px - (20px / 5)));
    }

    .equal-columns--outside-trim .small-down--one-fourth {
        width: calc(25% - (20px - (20px / 4)));
    }

    .equal-columns--outside-trim .small-down--one-sixth {
        width: calc(16.66667% - (20px - (20px / 6)));
    }

    .equal-columns--outside-trim .small-down--one-seventh {
        width: calc(14.28571% - (20px - (20px / 7)));
    }

    .equal-columns--outside-trim .small-down--two {
        width: calc(12.5% - (20px - (20px / 8)));
    }

    .equal-columns--outside-trim .small-down--four {
        width: calc(25% - (20px - (20px / 4)));
    }

    .equal-columns--outside-trim .small-down--seven {
        width: calc(43.75% - (20px - (20px / 2)));
    }

    .equal-columns--outside-trim .small-down--eight {
        width: calc(50% - (20px / 2));
    }

    .equal-columns--outside-trim .small-down--nine {
        width: calc(56.25% - (20px - (20px / 2)));
    }

    .small-down--show {
        display: block !important;
    }

    .small-down--hide {
        display: none !important;
    }

    .small-down--text-left {
        text-align: left !important;
    }

    .small-down--text-right {
        text-align: right !important;
    }

    .small-down--text-center {
        text-align: center !important;
    }
}

@media only screen and (max-width: 480px) and (max-width: 480px) {
    .equal-columns--clear .small-down--one-half.small-down--one-half,
    .equal-columns--clear .small-down--eight.small-down--eight,
    .equal-columns--clear .small-down--one-third.small-down--one-third,
    .equal-columns--clear .small-down--one-fourth.small-down--one-fourth,
    .equal-columns--clear .small-down--four.small-down--four,
    .equal-columns--clear .small-down--one-fifth.small-down--one-fifth,
    .equal-columns--clear .small-down--one-sixth.small-down--one-sixth,
    .equal-columns--clear .small-down--one-seventh.small-down--one-seventh {
        clear: none;
    }

    .equal-columns--clear .small-down--one-half:nth-of-type(2n+1),
    .equal-columns--clear .small-down--eight:nth-of-type(2n+1),
    .equal-columns--clear .small-down--one-third:nth-of-type(3n+1),
    .equal-columns--clear .small-down--one-fourth:nth-of-type(4n+1),
    .equal-columns--clear .small-down--four:nth-of-type(4n+1),
    .equal-columns--clear .small-down--one-fifth:nth-of-type(5n+1),
    .equal-columns--clear .small-down--one-sixth:nth-of-type(6n+1),
    .equal-columns--clear .small-down--one-seventh:nth-of-type(7n+1) {
        clear: both;
    }
}

@media only screen and (max-width: 480px) and (max-width: 480px) {
    .equal-columns--outside-trim .small-down--one-half.small-down--one-half,
    .equal-columns--outside-trim .small-down--eight.small-down--eight,
    .equal-columns--outside-trim .small-down--one-third.small-down--one-third,
    .equal-columns--outside-trim .small-down--one-fourth.small-down--one-fourth,
    .equal-columns--outside-trim .small-down--four.small-down--four,
    .equal-columns--outside-trim .small-down--one-fifth.small-down--one-fifth,
    .equal-columns--outside-trim .small-down--one-sixth.small-down--one-sixth,
    .equal-columns--outside-trim .small-down--one-seventh.small-down--one-seventh,
    .equal-columns--outside-trim .small-down--two.small-down--two {
        margin-right: 10px;
        margin-left: 10px;
    }

    .equal-columns--outside-trim .small-down--one-half:nth-of-type(2n),
    .equal-columns--outside-trim .small-down--eight:nth-of-type(2n),
    .equal-columns--outside-trim .small-down--one-third:nth-of-type(3n),
    .equal-columns--outside-trim .small-down--one-fourth:nth-of-type(4n),
    .equal-columns--outside-trim .small-down--four:nth-of-type(4n),
    .equal-columns--outside-trim .small-down--one-fifth:nth-of-type(5n),
    .equal-columns--outside-trim .small-down--one-sixth:nth-of-type(6n),
    .equal-columns--outside-trim .small-down--one-seventh:nth-of-type(7n),
    .equal-columns--outside-trim .small-down--two:nth-of-type(8n) {
        margin-right: 0;
    }

    .equal-columns--outside-trim .small-down--one-half:nth-of-type(2n+1),
    .equal-columns--outside-trim .small-down--eight:nth-of-type(2n+1),
    .equal-columns--outside-trim .small-down--one-third:nth-of-type(3n+1),
    .equal-columns--outside-trim .small-down--one-fourth:nth-of-type(4n+1),
    .equal-columns--outside-trim .small-down--four:nth-of-type(4n+1),
    .equal-columns--outside-trim .small-down--one-fifth:nth-of-type(5n+1),
    .equal-columns--outside-trim .small-down--one-sixth:nth-of-type(6n+1),
    .equal-columns--outside-trim .small-down--one-seventh:nth-of-type(7n+1),
    .equal-columns--outside-trim .small-down--two:nth-of-type(8n+1) {
        margin-left: 0;
    }
}

.container {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

@media only screen and (max-width: 1024px) {
    .container {
        width: calc(90% + 20px);
    }
}

@media only screen and (max-width: 480px) {
    .container {
        width: calc(100% - 40px);
    }
}

.container .container {
    width: 100%;
}

[class*="offset-by"] {
    position: relative;
}

@media only screen and (max-width: 480px) {
    [class*="offset-by"] {
        position: static;
    }
}

.container:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.column,
.columns {
    float: left;
    display: inline;
    margin-left: calc(20px / 2);
    margin-right: calc(20px / 2);
    box-sizing: border-box;
}

@media only screen and (max-width: 480px) {
    .column:not([class*="small-down--one-half"]),
    .columns:not([class*="small-down--one-half"]) {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 992px) {
    .margin-main {
        margin-left: 18px;
    }
}

.shadow {
    box-shadow: 6px 10px 25px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    /*overflow: hidden;*/
    /*   border-radius: 33px  */
}

@media only screen and (max-width: 480px) {
    .even {
        margin-left: 0;
    }
}

@media only screen and (max-width: 480px) {
    .odd {
        margin-right: 0;
    }
}

.flex-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.flex-container:after {
    visibility: hidden;
    display: none;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.row {
    margin-bottom: 20px;
}

.row:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.container-border--top::before {
    display: block;
    content: '';
    height: 0;
    width: calc(100% - 20px);
    border-top: thin solid #cccccc;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    float: left;
}

@media only screen and (max-width: 480px) {
    .container-border--top::before {
        width: 100%;
    }
}

.container-border--bottom::after {
    display: block;
    content: '';
    height: 0;
    width: calc(100% - 20px);
    border-top: thin solid #cccccc;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    clear: both;
}

@media only screen and (max-width: 480px) {
    .container-border--bottom::after {
        width: 100%;
    }
}

.narrow-width--true.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.container.full-width--true,
.full-width--true > .container {
    width: 100%;
    max-width: 100%;
}

@media only screen and (max-width: 480px) {
    .container.fullWidthMobile--true,
    .column.fullWidthMobile--true,
    .columns.fullWidthMobile--true {
        width: 100% !important;
        max-width: 100%;
    }
}

@media only screen and (min-width: 481px) {
    /* Nested Column Classes */
    .column.alpha, .columns.alpha {
        margin-left: 0;
    }

    .column.omega, .columns.omega {
        margin-right: 0;
    }

    /* Offsets */
    .offset-by-one {
        left: calc(6.25%);
    }

    .offset-by-two {
        left: calc(12.5%);
    }

    .offset-by-three {
        left: calc(18.75%);
    }

    .offset-by-four {
        left: calc(25%);
    }

    .offset-by-five {
        left: calc(31.25%);
    }

    .offset-by-six {
        left: calc(37.5%);
    }

    .offset-by-seven {
        left: calc(43.75%);
    }

    .offset-by-eight {
        left: calc(50%);
    }

    .offset-by-nine {
        left: calc(56.25%);
    }

    .offset-by-ten {
        left: calc(62.5%);
    }

    .offset-by-eleven {
        left: calc(68.75%);
    }

    .offset-by-twelve {
        left: calc(75%);
    }

    .offset-by-thirteen {
        left: calc(81.25%);
    }

    .offset-by-fourteen {
        left: calc(87.5%);
    }

    .offset-by-fifteen {
        left: calc(93.75%);
    }
}
