
div.container.contact-form-container {
    padding-top: 0;
}

.contact-form .contact-form__content {
    margin-bottom: 20px;
}

.contact-form label,
.custom-contact-form label {
    margin-bottom: 12px;
}

.contact-form ul li label,
.custom-contact-form ul li label {
    font-family: Roboto, sans-serif;
    text-transform: none;
    font-weight: 400;
}

.contact-form__position--right,
.custom-contact-form__position--right {
    float: right;
}

.custom-contact-form .contact-block {
    margin-bottom: 20px;
}

.custom-contact-form .custom-contact-form__image {
    margin-bottom: 20px;
}

.custom-contact-form .custom-contact-form__social .social_icons {
    padding: 0;
    margin-bottom: 40px;
}

.custom-contact-form .custom-contact-form__logo {
    max-width: 150px;
    margin: 0 auto 20px auto;
}

.custom-contact-form .contact-block--checkbox ul,
.custom-contact-form .contact-block--radio ul {
    padding: 0;
    margin: 0;
}

.custom-contact-form .contact-block--checkbox ul li,
.custom-contact-form .contact-block--radio ul li {
    margin-bottom: 8px;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: baseline;
    -moz-align-items: baseline;
    -ms-align-items: baseline;
    align-items: baseline;
}

.custom-contact-form .contact-block--checkbox ul li input,
.custom-contact-form .contact-block--radio ul li input {
    margin-right: 10px;
    position: relative;
    top: 2px;
}

.custom-contact-form .contact-block--checkbox ul li label,
.custom-contact-form .contact-block--radio ul li label {
    margin-bottom: 0;
}

.custom-contact-form .contact-block--checkbox ul li:last-child label,
.custom-contact-form .contact-block--radio ul li:last-child label {
    margin-bottom: 0;
}

.page-contact .footer {
    margin-top: 0;
}

.page-contact .custom-contact-form {
    margin-top: 25px;
}

#target {
    padding: 20px;
    text-align: center;
}

.items_left {
    color: #8c8b8b;
}

.quantity_label {
    display: inline;
    font-size: smaller;
}

.remove_item a {
    font-size: smaller;
    color: #333333;
}

input.quantity {
    width: 48px;
    display: inline;
    margin-bottom: 0;
    padding: 8px 5px;
}

ul.cart_items {
    padding-top: 0;
    padding-bottom: 0;
}

.cart_content li.mini-cart__item {
    padding: 0 0 15px 0;
    margin-bottom: 15px;
    border-bottom: 1px solid #cccccc;
}

.cart_content .notification-discount {
    color: #000000;
    padding: 15px 0 0;
    margin: 0;
    line-height: 1;
}

li.mini-cart__item a, li.mini-cart__item a:active,
#header li.mini-cart__item a, #header li.mini-cart__item a:active {
    position: relative;
    font-size: inherit;
    text-align: left;
}

.cart_image {
    float: left;
    width: 100%;
    max-width: 100px;
    min-width: 100px;
    text-align: center;
    padding-right: 20px;
}

.cart_image img {
    display: block;
}

@media only screen and (max-width: 480px) {
    .cart_image {
        padding-right: 10px;
    }
}

a.continue {
    text-align: right;
    font-size: 32px;
    margin-right: 15px !important;
    padding: 10px 0 5px 0 !important;
    opacity: 0.8;
}

a.continue:hover {
    opacity: 1;
}

.empty_cart {
    text-align: center;
    font-size: 18px;
    padding: 40px 0 25px 0;
    color: inherit;
}

#shipping-calculator.columns {
    float: none;
}

.cart__blocks {
    margin-top: 30px;
}

input[type="button"].get-rates.action_button {
    margin-top: 0;
}

#get-rates-submit {
    margin-top: -1px;
}

#customer_login {
    margin-bottom: 2px;
}

.multi_select {
    display: none;
}

/* Product Page Elements */
.container .align_right--images > div.columns {
    float: right;
}

.vendor {
    margin-bottom: 6px;
}

.section.product_section {
    margin-top: 0;
}

.product_section .description {
    margin-bottom: 15px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-word;
    word-break: break-word;
}

@media (min-width: 692px) {
    .minimum_order {
        margin-left: 15px !important;
    }
}

.modal_price {
    padding-bottom: 8px;
    display: block;
}

.product_section .description.bottom {
    margin-top: 15px;
    border-bottom: none;
}

.sale_banner_product,
.new_banner_product,
.preorder_banner_product {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 0px;
    padding: 8px 20px;
    text-align: center;
    color: #fff;
    margin-bottom: 13px;
    display: inline-block;
    font-size: 15px;
    white-space: nowrap;
}

.sale_banner_product {
    background: #a3a3a3;
}

.new_banner_product,
.preorder_banner_product {
    background: #1dadeb;
}

.preorder_banner_product,
.product-list .thumbnail .preorder_banner {
    font-size: 12px;
}

@media only screen and (max-width: 798px) {
    .preorder_banner_product,
    .product-list .thumbnail .preorder_banner {
        font-size: 8px;
    }
}

.product_links {
    margin-bottom: 8px;
    font-size: 0.9em;
    border-top: 1px solid #cccccc;
    padding: 10px 0 5px 0;
}

.product_links p {
    margin: 2px 0;
}

.social_buttons {
    border-top: 1px solid #cccccc;
    padding-top: 20px;
    font-size: 1em;
    margin-bottom: 25px;
}

@media only screen and (max-width: 798px) {
    .social_buttons {
        text-align: center;
    }
}

.share_article .social_buttons {
    border-top: none;
    padding-top: 0;
}

@media only screen and (max-width: 798px) {
    .share_article .social_buttons {
        padding-top: 15px;
    }
}

.share-btn {
    display: inline-block;
    text-align: center;
    font-size: 1.2em;
    margin-right: 6px;
    margin-bottom: 10px;
}

.share-btn a {
    color: #fff;
    padding: 10px 10px 8px 10px;
    border: solid 1px #e2e2e2;
    display: inline-block;
    transition: all 500ms ease 0s;
}

.icon-twitter-share:before {
    color: #09AEEC;
}

.icon-twitter-share:hover {
    background-color: #09AEEC;
    border-color: #09AEEC;
    color: #fff;
}

.icon-twitter-share:hover:before {
    color: #fff;
}

.icon-facebook-share:before {
    color: #49659D;
}

.icon-facebook-share:hover {
    background-color: #49659D;
    border-color: #49659D;
    color: #fff;
}

.icon-facebook-share:hover:before {
    color: #fff;
}

.icon-pinterest-share:before {
    color: #CB1F2A;
}

.icon-pinterest-share:hover {
    background-color: #CB1F2A;
    border-color: #CB1F2A;
    color: #fff;
}

.icon-pinterest-share:hover:before {
    color: #fff;
}

.icon-mail-share:before {
    color: #888;
}

.icon-mail-share:hover {
    background-color: #888;
    border-color: #888;
    color: #fff;
}

.icon-mail-share:hover:before {
    color: #fff;
}

/* Quantity Box for Product Page */
.product-quantity-box .quantity,
.product-quantity-box .quantity:focus,
.product-quantity-box .product-plus,
.product-quantity-box .product-minus {
    border: #e2e2e2 1px solid;
    color: #000;
}

.product-quantity-box label {
    margin-bottom: 0.5em;
}

.product-quantity-box {
    margin-right: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.product-quantity-box label {
    text-align: left;
}

.product-quantity-box .quantity {
    text-align: center;
    padding: 6px 15px;
    width: 38%;
    height: 44px;
    border-radius: 0;
    -webkit-appearance: none;
    float: left;
}

@media only screen and (max-width: 798px) {
    .product-quantity-box .quantity {
        width: calc(100% - 88px);
    }
}

.product-quantity-box .product-plus,
.product-quantity-box .product-minus {
    background: #f2f2f2;
    font-weight: 300;
    position: relative;
    cursor: pointer;
    height: 44px;
    display: block;
    width: 44px;
    text-align: center;
    float: left;
}

.product-quantity-box .product-plus:hover,
.product-quantity-box .product-minus:hover {
    background: #d9d9d9;
}

@media only screen and (max-width: 798px) {
    .product-quantity-box .product-plus,
    .product-quantity-box .product-minus {
        display: inline;
        display: initial;
        margin: 0;
    }
}

.product-quantity-box .product-plus {
    border-left: 0;
    font-size: 16px;
    line-height: 44px;
}

.product-quantity-box .product-minus {
    border-right: 0;
    line-height: 44px;
    font-size: 18px;
}

.product-quantity-box + .inline_purchase {
    margin-top: 31.5px;
    width: 55%;
    float: left;
}

.product_section .product_form,
.product_section .contact-form {
    max-width: 400px;
}

@media only screen and (max-width: 798px) {
    .product_section .product_form,
    .product_section .contact-form {
        max-width: 100%;
    }
}

/* Full width product image template */
.product-full_width_images .product_section .description img {
    display: none;
}

.full-width-product-images img {
    display: block;
    width: 100%;
}

@media only screen and (max-width: 480px) {
    .full-width-product-images .caption.align-center,
    .full-width-product-images .caption.align-right,
    .full-width-product-images .caption.align-left {
        text-align: center;
    }
}
