
@media only screen and (max-width: 798px) {
    .dropdown .header_search_form .search__results {
        margin-top: 30px;
    }
}

.dropdown .header_search_form .search-terms {
    height: 50px;
    min-height: 50px;
}

.main_nav div.logo a {
    display: block;
    color: #ffffff !important;
    outline: 0;
}

.menu-position--inline.logo-position--left div.logo {
    padding-left: 20px;
    text-align: left;
}

.menu-position--inline.logo-position--left div.logo.logo--text a {
    padding-top: 12px;
    padding-bottom: 12px;
}

.menu-position--inline.logo-position--center div.logo {
    text-align: center;
}

.menu-position--block.logo-align--left div.logo {
    padding-left: 20px;
    text-align: left;
}

.menu-position--block.logo-align--center div.logo {
    text-align: center;
    width: 100%;
}

.menu-position--block.logo-align--center div.logo img {
    margin: 0 auto;
}

div.logo {
    width: 16%;
    float: left;
}

div.logo img {
    width: 100%;
    margin: 0 auto;
    max-width: 125px;
}

.primary_logo {
    display: block;
}

.secondary_logo {
    display: none;
}

header.feature_image.secondary_logo--true img.primary_logo,
header.feature_image.secondary_logo--true img.secondary_logo {
    display: none;
}

header.secondary_logo--true:not(.feature_image) img.secondary_logo {
    display: none !important;
}

header.secondary_logo--true:not(.feature_image) img.primary_logo {
    display: inline !important;
}

.featured_content,
.featured_content h1,
.featured_content h2,
.featured_content h3,
.featured_content h4,
.featured_content h5,
.featured_content h6 {
    color: #363636;
}

.featured_content {
    background-color: #f6f7f9;
}

.nav_arrows {
    float: right;
}

.sku {
    margin: 0;
}

#category {
    width: 100%;
}

/* Pagination & infinite scrolling */
.paginate,
.load-more {
    text-align: center;
}

.paginate .page a,
.paginate .current,
a.tag {
    border: solid 1px #cccccc;
    margin: 10px 5px;
    padding: 0.5rem 1rem;
    display: inline-block;
}

.paginate .page a:hover,
.paginate .current:hover,
a.tag:hover {
    color: #fff;
    background-color: #0087c1;
    border: solid 1px #0087c1;
}

.paginate .current {
    font-weight: bold;
    color: #fff;
    background-color: #0087c1;
    border: solid 1px #0087c1;
}

.paginate .next,
.paginate .prev {
    display: inline-block;
    margin: 10px 0;
    padding: 0.5rem 1rem;
}

.load-more {
    display: none;
    width: 100%;
}

.collection-template-section .load-more,
.search-template-section .load-more {
    display: block;
    clear: both;
}

.load-more__icon {
    opacity: 0;
    height: 0;
    width: 0;
    transition: all 0.3s linear;
    background: url("//cdn.shopify.com/s/files/1/0257/5315/7735/t/29/assets/loader.gif") center center no-repeat;
    background-size: 32px 32px;
    margin: 0 auto;
}

.collection-matrix.loading-in-progress.filter-loading {
    height: 0;
}

.collection-matrix.loading-in-progress + .load-more__icon {
    width: 44px;
    height: 44px;
    opacity: 1;
}

a.tag {
    font-size: smaller;
    padding: 4px 6px;
    margin: 5px 2px 5px 0;
}

.paginate .deco {
    border: none;
}

/* Product list - collections */
.product-list .thumbnail,
.slider-gallery .thumbnail,
.list-collections .thumbnail {
    position: relative;
    text-align: center;
    margin-bottom: 25px;
    display: block;
}

.product-list .thumbnail .thumbnail-overlay,
.slider-gallery .thumbnail .thumbnail-overlay,
.list-collections .thumbnail .thumbnail-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    overflow: hidden;
    transition: opacity 0.3s ease-in;
}

.product-list .thumbnail .thumbnail-overlay > a,
.slider-gallery .thumbnail .thumbnail-overlay > a,
.list-collections .thumbnail .thumbnail-overlay > a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@media only screen and (max-width: 798px) {
    .product-list .thumbnail .thumbnail-overlay,
    .slider-gallery .thumbnail .thumbnail-overlay,
    .list-collections .thumbnail .thumbnail-overlay {
        display: none;
    }
}

@media only screen and (min-width: 1401px) {
    .product-list .thumbnail .thumbnail-overlay,
    .slider-gallery .thumbnail .thumbnail-overlay,
    .list-collections .thumbnail .thumbnail-overlay {
        line-height: 1.5;
    }
}

.product-list .thumbnail .thumbnail-overlay,
.slider-gallery .thumbnail .thumbnail-overlay,
.list-collections .thumbnail .thumbnail-overlay {
    background-color: rgba(0, 0, 0, 0.7);
}

.product-list .thumbnail img,
.slider-gallery .thumbnail img,
.list-collections .thumbnail img {
    vertical-align: bottom;
    transition: opacity .3s ease-in;
    width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: top center;
    object-position: top center;
    font-family: "object-fit: contain; object-position: top center";
}

.product-list .thumbnail .product-info__caption,
.slider-gallery .thumbnail .product-info__caption,
.list-collections .thumbnail .product-info__caption {
    margin-top: 20px;
}

@media only screen and (max-width: 798px) {
    .product-list .thumbnail .product-info__caption,
    .slider-gallery .thumbnail .product-info__caption,
    .list-collections .thumbnail .product-info__caption {
        display: block;
    }
}

@media only screen and (max-width: 1024px) {
    .touchevents .product-info__caption {
        display: block;
    }

    .touchevents .thumbnail-overlay {
        display: none;
    }
}

.hidden-product-link {
    line-height: 0;
    font-size: 0;
    color: transparent;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.featured_collections .thumbnail {
    text-align: center;
}

/* Thumbnail overlay */
.quick_shop,
.view_all {
    font-family: "DM Sans", sans-serif, sans-serif;
    font-weight: 600;
    font-size: 14px;
    font-style: bold;
    text-transform: capitalize;
    letter-spacing: 0px;
    cursor: pointer;
    position: relative;
    display: inline-block;
    background: #ffffff;
    border-radius: 100px;
    padding: 6px 24px;
    margin-top: 2rem;
    color: #000000;
    opacity: 0;
    pointer-events: all;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -ms-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    transition: opacity 0.3s ease-out, transform 0.3s ease-out,color 0.3s linear, background-color 0.3s linear;
}

.quick_shop:hover,
.view_all:hover {
    color: #000000;
    background-color: #ffffff;
}

.product-wrap {
    position: relative;
}

.product-wrap:hover .product-details {
    opacity: 1;
    transform: none;
}

.product-wrap:hover .quick_shop {
    opacity: 1;
    transform: none;
}

.product-wrap:hover .thumbnail-overlay {
    opacity: 1;
}

.product-wrap .banner_holder {
    left: 0;
    right: inherit;
}

.thumbnail-overlay .info {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    pointer-events: none;
    cursor: pointer;
    color: #ffffff;
    font-size: 16px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-left: 5px;
    padding-right: 5px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
}

.thumbnail-overlay .product-details {
    position: relative;
    opacity: 0;
    -ms-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
    display: block;
}

.thumbnail-overlay .title {
    display: block;
    padding: 0 2em;
    position: relative;
    color: #ffffff;
}

.thumbnail-overlay .brand {
    color: #ffffff;
}

.thumbnail-overlay .price {
    display: block;
    color: #1dadeb;
}

.thumbnail-overlay .price:hover {
    color: #0087c1;
}

.thumbnail-overlay .was_price,
.thumbnail-overlay .was_price span.money {
    color: #8c8b8b;
}

.thumbnail .price span.money {
    color: #1dadeb;
}

.thumbnail .price span.money:hover {
    color: #0087c1;
}

.thumbnail .sale span.money {
    color: #000000;
}

.thumbnail .was_price span.money {
    color: #8c8b8b;
}

/* Product banners */
.new {
    position: relative;
    display: inline;
    padding: 5px;
    border-radius: 2px;
    font-size: 12px;
}

/* Sold out and coming soon text */
.thumbnail .sold-out,
.thumbnail .coming-soon {
    opacity: 0.5;
    color: #333333;
}

.thumbnail-overlay .sold-out,
.thumbnail-overlay .coming-soon {
    opacity: 0.5;
    color: #ffffff;
}

/* Sale text */
.thumbnail .sale, .sale {
    color: #000000;
}

.banner_holder {
    position: absolute;
    top: 0;
    right: 0;
}

.sale_banner, .new_banner, .preorder_banner {
    background: #a3a3a3;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0px;
    padding: 8px 12px;
    text-align: center;
    color: #fff;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
}

@media only screen and (max-width: 798px) {
    .sale_banner, .new_banner, .preorder_banner {
        padding: 4px 10px;
        font-size: smaller;
    }
}

.new_banner, .preorder_banner {
    background: #1dadeb;
}

a.secondary_button, input.secondary_button {
    display: block;
    padding: 15px 0;
    text-align: center;
    border-top: solid 1px #cccccc;
    border-bottom: solid 1px #cccccc;
    margin: 10px 0;
    font-family: "DM Sans", sans-serif, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0px;
    color: #1dadeb;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
}

a.secondary_button:hover, a.secondary_button:active, a.secondary_button:visited, input.secondary_button:hover, input.secondary_button:active, input.secondary_button:visited {
    color: #0087c1;
}

.tech-slideshow {
    height: 100px;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
}

.tech-slideshow > div {
    height: 50px;
    width: 10100px;
    background: url(https://cdn.shopify.com/s/files/1/0257/5315/7735/files/allApps_double.png?v=1612225733);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transform: translate3d(0, 0, 0);
}

.tech-slideshow .mover-1 {
    animation: moveSlideshow 52s linear infinite;
}

.tech-slideshow .mover-2 {
    opacity: 0;
    transition: opacity 0.5s ease-out;
    background-position: 0 -200px;
    animation: moveSlideshow 15s linear infinite;
}

.tech-slideshow:hover .mover-2 {
    opacity: 1;
}

@keyframes moveSlideshow {
    100% {
        transform: translateX(-66.6666%);
    }
}

.quick-buy-wrap {
    display: none !important;
}

.thumbnail .price,
.thumbnail .title {
    display: block;
    margin-bottom: 5px;
    font-size: inherit;
    line-height: 1.2;
}

.thumbnail .title {
    word-break: break-word;
}

.cart_price {
    float: right;
    text-align: right;
    padding-left: 20px;
    font-weight: bold;
    display: none;
}

#estimated-shipping, .excluding_tax {
    display: block;
}

.cart_page_image {
    text-align: center;
    margin: 10px 0 20px;
    display: block;
}

.cart_page_image img {
    width: 100%;
    display: block;
}

.cart_content_info {
    padding: 0;
}

.cart_content_info h5 {
    padding: 0;
    margin-bottom: 10px;
    margin-top: 0;
}

.cart_content_info .price_total {
    clear: both;
    padding: 0;
    margin-bottom: 20px;
    font-size: 20px;
}

.subtotal {
    padding-top: 20px;
    padding-left: 40px;
}

@media only screen and (max-width: 798px) {
    .subtotal {
        padding-left: 0;
    }
}

.continue-shopping {
    display: block;
    color: #1dadeb;
    text-align: center;
    font-family: "DM Sans", sans-serif, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0px;
    margin-top: 20px;
}

.subtotal_amount {
    font-size: 1.4em;
    font-weight: bold;
}

button.update {
    width: 30%;
    float: right;
}

.size_chart {
    float: right;
    padding-top: 5px;
}

#size-chart {
    display: none;
}

#size-chart h5 {
    padding: 15px 0 0 0;
    text-align: center;
}

.js-sizechart-lightbox {
    cursor: default !important;
}

.price_total_text {
    font-weight: normal;
    display: none;
}

.was_price {
    text-decoration: line-through;
    color: #8c8b8b;
    text-shadow: none;
    font-weight: normal;
}

.cart_savings {
    text-align: left;
}

.savings {
    font-size: 16px;
    display: block;
}

.thumbnails a {
    display: block;
    margin-bottom: 1em;
}

.arrow {
    position: relative;
    top: -1px;
    left: 2px;
    opacity: 0.6;
}

.modal {
    margin: 10px 0;
    display: none;
    background-color: #ffffff;
}

.modal_product {
    width: auto;
    line-height: 0px;
    max-width: 940px;
}

.modal_product img {
    cursor: pointer;
}

.modal_image {
    text-align: center;
}

.modal a {
    padding-bottom: 0;
}

.modal .modal_price,
.modal_price {
    font-size: 20px;
    margin-bottom: 10px;
}

.product_section .modal_price,
.quick-shop__text-wrap .modal_price {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.product_section .modal_price .price__container,
.product_section .modal_price .sold-out__container,
.quick-shop__text-wrap .modal_price .price__container,
.quick-shop__text-wrap .modal_price .sold-out__container {
    display: inline-block;
}

.product_section .modal_price .price__container--display-price-true.has-margin-right,
.quick-shop__text-wrap .modal_price .price__container--display-price-true.has-margin-right {
    margin-right: 10px;
}

.product_section .modal_price .sold_out__container,
.quick-shop__text-wrap .modal_price .sold_out__container {
    min-width: 150px;
}

.quick-shop__text-wrap .modal_price.variant-unavailable .price__container {
    display: none;
}

.modal form {
    margin-bottom: 10px;
}

.notify_form #contact_form .action_button {
    width: 100%;
}

.product_image_col {
    margin-top: 15px;
    text-align: center;
}

.meta {
    font-size: 13px;
}

.meta p {
    font-size: 13px;
    margin-bottom: 0px;
}

p.meta {
    margin-bottom: 10px;
}

.comment-body p.meta {
    margin-bottom: 5px;
}

.comment-body h6 {
    padding: 0;
}

.sidebar_title {
    padding-bottom: 0px;
}

.blog-section h2 {
    margin-bottom: 0;
    line-height: 1.2;
}

.blog-section h2 a {
    color: #000000;
}

.blog_meta {
    margin-bottom: 0;
}

.blog_meta span {
    position: relative;
    display: inline-block;
    margin-right: 15px;
    font-size: smaller;
    color: #8c8b8b;
}

.blog_meta span:after {
    content: '';
    position: absolute;
    right: -16px;
    top: 50%;
    margin: -1px 5px 0;
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background-color: #8c8b8b;
}

.blog_meta span:last-child:after {
    background-color: transparent;
}

.tags span a {
    color: #1dadeb;
}

.article-wrap {
    padding-bottom: 25px;
}

@media only screen and (min-width: 799px) {
    .article-wrap .article__title {
        margin-top: 0;
    }
}

@media only screen and (min-width: 799px) {
    .article-wrap .continue-button {
        margin-bottom: 0;
    }
}

.article h3.sub_title {
    letter-spacing: 0;
    margin: 10px auto 0;
}

.article_content {
    margin-top: 20px;
}

.excerpt {
    line-height: 1.5;
    margin: 1em 0;
}

#comment_form .action_button, #contact_form .action_button {
    display: block;
    padding-left: 40px;
    padding-right: 40px;
}

@media only screen and (max-width: 798px) {
    #comment_form .action_button, #contact_form .action_button {
        width: 100%;
    }
}

#contact_form .action_button.sign_up {
    display: inline-block;
    width: 120px;
    padding-left: 0;
    padding-right: 0;
    float: none;
}

body.article {
    padding-bottom: 0;
}

.toggle span {
    color: #8c8b8b;
    font-weight: bold;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: smaller;
    float: right;
    display: none;
}

.sidebar .blog_search {
    margin-bottom: 15px;
}

.sidebar .blog_search input {
    width: 100%;
}

.meta .label, .label {
    color: #8c8b8b;
}

.blog_meta, .blog_meta a {
    color: #8c8b8b;
}

.blog_meta a:hover {
    color: #0087c1;
}

.count {
    font-style: normal;
    font-size: 13px;
}

.checkout {
    display: block;
    float: right;
    margin-top: 0px;
}

.additional-checkout-buttons {
    text-align: center;
    margin-top: 0;
}

.additional-checkout-buttons > *:not(script) {
    padding: 10px 0 0 10px;
    vertical-align: top;
    line-height: 1;
}

@media only screen and (max-width: 480px) {
    .additional-checkout-buttons > *:not(script) {
        padding: 10px 0 0 5px;
    }
}

.additional-checkout-buttons > *:not(script):first-child, .additional-checkout-buttons > *:not(script):empty {
    padding-left: 0px;
}

.or {
    line-height: 40px;
    font-style: normal;
    font-size: 14px;
    padding: 0 10px;
    text-align: center;
}

@media only screen and (max-width: 480px) {
    .or {
        line-height: initial;
        text-align: left;
    }
}

.comment {
    margin-bottom: 20px;
}

/*--Author Bio + Social Share Buttons--*/
.author_share_wrap {
    width: 100%;
    border-top: 1px solid #cccccc;
    min-height: 40px;
    padding: 15px 0;
    margin-top: 15px;
    overflow: auto;
}

.blog_author {
    width: 60%;
    float: left;
}

@media only screen and (max-width: 798px) {
    .blog_author {
        width: 100%;
        border-bottom: 1px solid #cccccc;
        padding-bottom: 15px;
    }
}

.blog_author img {
    width: 80px;
    height: 80px;
    border: 1px solid #cccccc;
    float: left;
    margin-right: 15px;
}

.author_bio {
    text-align: left;
}

.author_bio h6 {
    padding-top: 0;
}

.author_bio p {
    font-size: 0.9em;
}

.blog_share {
    width: 38%;
    float: right;
    text-align: right;
}

@media only screen and (max-width: 798px) {
    .blog_share {
        width: 100%;
        float: left;
    }
}

.red {
    color: #C33;
}

.address p {
    margin-bottom: 5px;
}

div#disqus_thread ul, div#disqus_thread li {
    border: none;
}

.search_page {
    padding: 100px 0;
}
