
a,
a:visited,
a span {
    color: #1dadeb;
    text-decoration: none;
    position: relative;
    transition: color .1s linear;
}

a:hover,
a:focus {
    color: #0087c1;
}

a,
button,
input,
select,
textarea,
label,
summary {
    touch-action: manipulation;
}
