
<div>
   <div class="myHomeFAQSection">
      <div class="popl_container">
         <div class="faq__warp">
            <div class="faq__head">
               <h1 class="l-title _forDesk">Frequently Asked Questions</h1>
               <h1 class="l-title _forMob">Frequently Asked Questions</h1>
               <a class="faq__head--small d-desktop" href="https://popl.co/a/faq" title="See all FAQs" target="_blank">See all FAQs</a>
            </div>
            <div class="faq__accordion">
               <div class="l-accordion">
                  <div class="l-accordion__title">
                     <h3>What phones can my Popl product and Popl QR code share to?</h3>
                  </div>
                  <div class="l-accordion__content">
                     <p>Popl products use NFC technology and can share to any iPhone XR, XS, 11, 12, 13 or SE (2nd generation) with just a single tap. Popl products can also share to most Androids on the market today, as long as the Android has NFC turned on.
                        See how to pop to all devices here: <a href="https://popl.co/a/faq">https://popl.co/faq</a>
                     </p>
                     <p>Popl QR codes (PopCodes) can share to all iPhones and every Android that can read QR codes (over 90%). PopCodes are very consistent, have unlimited scans and can be customized.</p>
                     <p>See all compatible phones here: <a href="https://popl.co/phones">https://popl.co/phones</a></p>
                  </div>
               </div>
               <div class="l-accordion">
                  <div class="l-accordion__title">
                     <h3>Does the person I’m meeting need an app to receive my info?</h3>
                  </div>
                  <div class="l-accordion__content">
                     <p>Nope! That’s the beauty of Popl, the other person doesn’t need an app or a Popl product to receive your info. Your profile opens in their browser, which every smartphone has.<br><br>Shop all products here: <a href="https://popl.co/popls">All Products</a></p>
                  </div>
               </div>
               <div class="l-accordion">
                  <div class="l-accordion__title">
                     <h3>Does Popl require a subscription to use?</h3>
                  </div>
                  <div class="l-accordion__content">
                     <p>No, Popl does <u>not</u> require a monthly subscription in order to use and benefit from Popl products. We do have <a href="https://popl.co/pages/pro">Popl Pro</a> and <a href="https://popl.co/pages/popl-teams">Popl Teams</a> but those are for additional business features and are completely optional</p>
                  </div>
               </div>
               <div class="l-accordion">
                  <div class="l-accordion__title">
                     <h3>How do I connect my business info to my Popl product or QR code?</h3>
                  </div>
                  <div class="l-accordion__content">
                     <p>Using the <a href="https://popl.co/app">Popl app</a> or <a href="https://popl.co/pages/popl-teams">Popl Teams</a>, you can set up your digital business card for free right now. Once you create your digital business card, you can use your in-app QR code to start sharing immediately.<br><br>If you purchase a Popl product, as soon as you receive it in the mail you will activate the device to your digital business card and all of your info will connect.</p>
                  </div>
               </div>
               <div class="l-accordion">
                  <div class="l-accordion__title">
                     <h3>Can I have more than one Popl product activated to my digital business card?</h3>
                  </div>
                  <div class="l-accordion__content">
                     <p>Yes! You can activate an unlimited number of products to your single digital business card. Many of our customers have a Popl tag on their phone, a card in their wallet and a keychain on their keys <i class="fas fa-smile"></i><br><br>Shop all products here: <a href="https://popl.co/popls">All Products</a></p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="test">
    <h1>testtttttttt</h1>
 </div>

                  
<partial name="Components/MyHomeFAQSection/MyHomeFAQSectionScript" />