
<footer class="popl_footer">
   <div class="popl_container">
      <div class="footer__wrap">
         <div class="footer__column footer__column--double">
            <div class="fooer__logo">
               <div class="footer__itemwrapper">
                   <img class="d-desktop" src="/popl/images/WhiteLogo_1_200x.webp" alt="img">
                </div>
               <div class="footer__itemwrapper">
                   <a class="l-btn d-mob" href="https://poplco.app.link/poplcowebsite" target="_blank">Get the App</a>
                   </div>
            </div>
            <div class="fooer__scan d-desktop"> 
                <span class="fooer__scan--text">Scan to get Popl</span> 
                <span class="fooer__scan--img">
                    <img src="/popl/images/Group_1454_743aee2e-8f1f-4d45-a8fc-0b74aad9fafd_200x.webp">
                </span>
            </div>
            <div class="footer_copyright">
               <p class="credits">
                  © 2022 <a href="/" title="">Popl</a>.
                  Patented Technology
               </p>
            </div>
         </div>
         <div class="footer__column">
            <div class="footer__link-head">
               <p>Shop</p>
            </div>
            <div class="footer__links shop ">
               <ul>
                  <li><a href="/collections/all-products">Shop All</a></li>
                  <li><a href="/collections/custom-popls">Custom Products</a></li>
                  <li><a href="/collections/all-products">Phone tags</a></li>
                  <li><a href="/collections/popl-cards">Cards</a></li>
                  <li><a href="/products/metal-popl-card">Metal Cards</a></li>
                  <li><a href="https://popl.co/collections/bands/products/popl-band">Wristbands</a></li>
                  <li><a href="/collections/popl-xl">Popl XL</a></li>
                  <li><a href="https://popl.co/collections/badges/products/custom-badge">Badges</a></li>
                  <li><a href="/collections/keychains">Keychains</a></li>
                  <li><a href="/collections/popl-bundles">Bundles</a></li>
                  <li><a href="/collections/collaborations">Collaborations</a></li>
               </ul>
            </div>
         </div>
         <div class="footer__column">
            <div class="footer__link-head">
               <p>Legal</p>
            </div>
            <div class="footer__links legal ">
               <ul>
                  <li><a href="/pages/privacy-policy">Privacy Policy</a></li>
                  <li><a href="/pages/terms-of-service">Terms of Service</a></li>
                  <li><a href="/pages/dpa">Data Protection Addendum</a></li>
                  <li><a href="https://privacy.popl.co/privacy-policy#california-privacy-notice">California Privacy Notice</a></li>
                  <li><a href="/pages/refund-policy">Refund Policy</a></li>
                  <li><a href="/pages/terms-of-use">Terms Of Use</a></li>
                  <li><a href="/pages/patents">Intellectual Property</a></li>
                  <li><a href="https://privacy.popl.co/opt-out">Do Not Sell or Share My Personal Information</a></li>
               </ul>
            </div>
         </div>
         <div class="footer__column">
            <div class="footer__link-head">
               <p>Company</p>
            </div>
            <div class="footer__links old-company footer_withsocial">
               <ul>
                  <li><a href="https://popl.co/teams">Popl Teams</a></li>
                  <li><a href="https://popl.co/pro">Popl Pro</a></li>
                  <li><a href="https://popl.co/a/faq">Tutorials</a></li>
                  <li><a href="/pages/help">Help</a></li>
                  <li><a href="/pages/ambassadors">Ambassadors</a></li>
                  <li><a href="https://poplco.app.link/userlogin">User Login</a></li>
                  <li><a href="https://teams.popl.co/sign-in">Popl Teams Login</a></li>
                  <li><a href="/blogs/press">Blog</a></li>
                  <li><a href="/pages/store-locator">Retail Locations</a></li>
               </ul>
               <ul class="contact__social">
                  <div>
                      <a href="https://www.twitter.com/poplco" title="Popl on Twitter" rel="me" target="_blank" data-bss-pl="active">
                      <img src="/popl/images/svg/Twitter.svg" alt="Twitter">
                      </a>
                    </div>
                  <div>
                      <a href="https://www.facebook.com/popl" title="Popl on Facebook" rel="me" target="_blank" data-bss-pl="active">
                          <img src="/popl/images/svg/Facebook.svg" alt="Facebook">
                          </a>
                  </div>
                  <div>
                      <a href="https://www.instagram.com/popl" title="Popl on Instagram" rel="me" target="_blank" data-bss-pl="active">
                          <img src="/popl/images/svg/Instagram.svg" alt="Instagram">
                          </a>
                    </div>
                  <div>
                      <a href="https://www.youtube.com/channel/UCQKT5Xlndffvt1JBScnUjvw" 
                            title="Popl on YouTube" rel="me" target="_blank" data-bss-pl="active">
                          <img src="/popl/images/svg/2022Youtube_white.svg" alt="Youtube">
                      </a>
                    </div>
                  <div>
                      <a href="https://www.tiktok.com/@@popl" title="Popl on TikTok" rel="me" target="_blank" data-bss-pl="active">
                          <img src="/popl/images/svg/TikTok.svg" alt="Tiktok">
                          </a>
                    </div>
               </ul>
            </div>
         </div>
      </div>
   </div>
</footer>