
<div>
   <div class="myHomeMission">
      <div class="popl_container">
         <div class="mission__wrap_out">
            <div class="mission__head onlyEnglish">
               <h1>Our Mission</h1>
            </div>
            <div class="mission__head onlyPersian">
               <h1>ماموریت زپ</h1>
            </div>

            <div class="mission__hero onlyEnglish">
               <h2>We help professionals network better with time-saving and eco-friendly technology.</h2>
            </div>
            <div class="mission__hero onlyPersian">
               <h2>ما سعی می کنیم با ارائه یک راهکار هوشمند، علاوه بر صرفه جویی در زمان و اثربخش کردن ارتباطات، به سهم خود از قطع درختان بیشتر جلوگیری کنیم.</h2>
            </div>

            <div class="mission__wrap">
               <div class="mission__content onlyEnglish">
                  <p>We believe making and keeping relationships is so 
                     important in this world. There’s nothing worse than meeting a business connection or new friend, forgetting to connect with them, and never hearing from them again.
                  </p>
                  <p>We see a future where everyone is connected, and Popl is bridging the gap between in-person relationships and online connections.</p>
                  <p>A huge part of our culture is building sustainable solutions that help the environment. Popl uses technology instead of paper to connect professionals, saving forests around the world. No more paper business cards…<br><br><a style="color: green" href="https://popl.co/pages/popl-teams">Go Green With Us &gt;</a></p>
               </div>

               <div class="mission__content onlyPersian">
                  <p>
                      در دنیای امروز، ایجاد ارتباط، حفظ آن و ساخت شبکه ارتباطی، اهمیت بسیار بالایی دارد. چیزی بدتر از این نیست که یک ملاقات تجاری یا دوستانه داشته باشیم
                      و به دلیل فراموش کردن رد و بدل کردن یک راه ارتباطی مانند شماره موبایل، این ارتباط همانجا قطع گردد.
                  </p>
                  <p>ما سعی کرده ایم با زپ ارتباط پایدار بین افراد ایجاد کنیم.</p>
                  <p>زپ سعی کرده است با استفاده از تکنولوژی به جای کاغذ، علاوه بر ایجاد یک ارتباط حرفه ای، به نوبه خود از قطع بیشتر درختان، جلوگیری نماید.
                      ما می خواهیم از قطع درختان برای تولید کارت های ویزیت جلوگیری کنیم...
                      <br><br><a style="color: green" href="https://popl.co/pages/popl-teams">Go Green With Us &gt;</a></p>
               </div>

               <div class="mission__gallery">
                  <div class="mission__thumb d-desktop">
                      <img src="/popl/images/global-image_2480x.webp" alt="" loading="lazy"></div>
                  <div class="mission__thumb d-mob">
                      <img src="/popl/images/global-mobile_620x.webp" alt="" loading="lazy"></div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>