
$dir: ltr !default;
$persianFont: IRANSans !default;
$leftRight: if($dir==rtl,right,left);

//toggle main nav ----------------------------------------------
@import "_main_nav_toggle.scss";
//toggle main nav ----------------------------------------------

.main-nav {
    text-align: $leftRight;
    padding: 10px 0;
    margin: 0;
    background-color: #fff;

    @include bp {
        padding-#{$leftRight}: 50px;
    }

    @include bps(1199) {
        padding-#{$leftRight}: 110px;
    }

    & > li {
        padding: 12px;
        font-size: 14px;
        font-weight: 700;
        line-height: 25px;
        border-bottom: 3px solid transparent;
        //مین نو، خودش یک لیست است. لیست آیتم زیرش
        vertical-align: top;
        position: relative;
        white-space: nowrap;

        a {
            color: #000;
            text-shadow: none;
            text-decoration: none;
            padding-bottom: 3px;

            &:hover {
                border-bottom: solid 1px #121212;
            }
        }


        .icon-down-arrow {
            font-size: 10px;
            font-weight: 700;
        }

        ul {
            //منظور اون لیست باز شونده است
            display: none;
            background-color: white;

            @include bp {
                position: absolute;
                max-height: 65vh;
                overflow-y: auto;
            }
        }

        li {
            display: block;
        }


        &[data-toggled='true'] {
            ul {
                display: flex;
                flex-direction: column;
                overflow: auto;
                height: auto;
                max-height: 65vh;
                border-radius: 10px;
                background-color: #fff;
                box-shadow: 0 2px 6px #00000080;
                padding: 1rem 1.875rem 1.3125rem;
                text-align: $leftRight;
                min-width: 100%;

                .dropdown_title {
                    color: #8c8c8c;
                    font-size: 17px;
                    line-height: 17px;
                    margin-bottom: 0.7375rem;
                }

                li {
                    margin-bottom: 2px;

                    a {
                        padding-bottom: 1px;
                        font-size: 13px;

                        span {
                            color: #000;
                        }
                    }
                }
            }
        }
    }
}
