$dir: ltr !default;
$persianFont: IRANSans !default;
$leftRight: if($dir==rtl,right,left);
$leftRightReverse: if($dir==rtl,left,right);

.popl-header-links {

    .seprator {
        border-bottom: solid 1px rgba(175,175,175,0.34);
        margin: 10px 0;
        margin-#{$leftRight}: 30px;
    }
    /* هنوز لاگ این نکرده*/
    .txtForUser {
        font-family: if($dir==rtl,$persianFont,"Gilroy400");
        text-align: justify;
        padding: 5px 15px 22px 15px;
        border-bottom: solid 1px rgba(175,175,175,0.8);
        margin-bottom: 8px;
        margin-right: 1em;
        margin-left: 1em;
    }

    .seprator {
        margin-#{$leftRightReverse}: 0;
    }

    .login-container {
        text-align: $leftRight;
        padding: 0 1em;

        a {
            padding: 5px;
            display: flex;
            align-items: center;

            span {
                display: inline-block;
                flex: 1;
                padding-#{$leftRightReverse}: 0;
                padding-#{$leftRight}: 10px;
                color: #000;
                font-size: 16px;
                font-weight: bold;
            }
        }
    }
    /* لاک این کرده */

    .mySideAccoundContainer {
        .seprator {
            margin: 5px 0;
            margin-#{$leftRightReverse}: 20px;
        }


        .fullNameContainer {
            display: flex;
            align-items: center;
            padding: 0 1em 2em 1em;
            margin: 1em;
            border-bottom: solid 1px grey;

            .profile {
                width: 30px;
                height: 30px;
            }

            .mySideCol2 {
                font-size: 16px;
                font-weight: bold;
                padding-#{$leftRight}: 10px;
                padding-#{$leftRightReverse}: 5px;
                flex: 1;
                text-align: $leftRight;
            }

            .left-arrow {
                width: 18px;
                height: 18px;
                transform: if($dir==rtl,unset, rotate(180deg));
            }
        }

        .mySideRow {
            display: flex;
            align-items: center;
            padding: 0.6em;
            color: black;

            .b-icon {
                font-size: 22px;
            }

            img {
                width: 24px;
                height: 24px;
            }

            .mySideCol2 {
                flex: 1;
                text-align: $leftRight;
                padding-#{$leftRight}: 10px;
                padding-#{$leftRightReverse}: 5px;
            }

            .mySideCol3 {
                padding-#{$leftRightReverse}: 2px;
                padding-#{$leftRight}: 0;

                .btn-secondary {
                    padding: 0 1em;
                    background-color: black;
                    border-radius: 10px;
                }
            }
        }


        .popl-languge-selection-container {
            ul {
                display: none;
                min-width: unset;

                &.show {
                    display: unset !important;
                }

                li {
                    width: 100%;
                }
            }

            .dropdown-toggle:after {
                margin-#{$leftRight}: 0.255em;
                margin-#{$leftRightReverse}: unset;
            }
        }
    }
}

