
<div id="mySlider" >
    
    <div class="popl_container">

        <div class="banner__title onlyEnglish">
            <h1 class="bold">Instantly</h1>
        </div>

        <div class="banner__title onlyPersian">
            <h1 class="bold">با یک اشاره</h1>
        </div>

        <div id="mySliderTexts">
            <div class="onlyEnglish mySliderTexts">
                <h2 style="display:none" class="animate__animated animate__fadeIn onlyEnglish">Share Anything</h2>
                <h2 style="display:none" class="animate__animated animate__fadeIn onlyEnglish">Capture Leads</h2>
                <h2 style="display:none" class="animate__animated animate__fadeIn onlyEnglish">Export to Your CRM</h2>
                <h2 style="display:none" class="animate__animated animate__fadeIn onlyEnglish">Grow Your Business</h2>
            </div>

            <div class="onlyPersian mySliderTexts">
                <h2 style="display:none" class="animate__animated animate__fadeIn onlyPersian">اش|ت|راک ه|ر چ|ی|زی</h2>
                <h2 style="display:none" class="animate__animated animate__fadeIn onlyPersian">گ|رف|ت|ن س|رن|خ ه|ا</h2>
                <h2 style="display:none" class="animate__animated animate__fadeIn onlyPersian">ب|ه س|ی آر ام خ|ود ارس|ال ک|ن|ی|د</h2>
                <h2 style="display:none" class="animate__animated animate__fadeIn onlyPersian">ک|س|ب و ک|ار خ|ود را ت|وس|&#xFECC;&#xFEEA; ده|ی|د</h2>

            </div>
        </div>
        

        <div class="banner__sub-title onlyEnglish">
            <h2>The #1 Digital Business Card<br>Platform for Teams and Individuals</h2>
        </div>

        <div class="banner__sub-title onlyPersian">
            <h2>با ژپ متفاوت باشید</h2>
        </div>


    
        <div class="btnBuyNowContainer">
            <a class="btnBuyNow" href="/shop-all" title="BUY NOW">BUY NOW</a>
        </div>
        


        <div id="myVideos" >

            <div class="desktop_mode">
                <video style="display:none"
                    autoplay="autoplay" muted="muted" preload="auto" playsinline>
                     <source src="/popl/video/desktop/Desktop_01_12.04.22.mp4" type="video/mp4">
                 </video>

                 <video style="display:none"
                    autoplay="autoplay" muted="muted" preload="auto" playsinline>
                     <source src="/popl/video/desktop/Banner_02_2022.mp4" type="video/mp4">
                 </video>

                 <video style="display:none"
                    autoplay="autoplay" muted="muted" preload="auto" playsinline>
                     <source src="/popl/video/desktop/Banner_03_2022.mp4" type="video/mp4">
                 </video>

                 <video style="display:none" 
                    autoplay="autoplay" muted="muted" preload="auto" playsinline>
                     <source src="/popl/video/desktop/Banner_04_2022.mp4" type="video/mp4">
                 </video>
            </div>

            <div class="mobile_mode">
                <video style="display:none"
                    autoplay="autoplay" muted="muted" preload="auto" playsinline>
                     <source src="/popl/video/mobile/Banner_01_Mobile_Updated.mp4" type="video/mp4">
                 </video>

                 <video style="display:none"
                    autoplay="autoplay" muted="muted" preload="auto" playsinline>
                     <source src="/popl/video/mobile/Mobile_Banner_Video_New_02.mp4" type="video/mp4">
                 </video>

                 <video style="display:none"
                    autoplay="autoplay" muted="muted" preload="auto" playsinline>
                     <source src="/popl/video/mobile/Banner_03_mobile.mp4" type="video/mp4">
                 </video>

                 <video style="display:none" 
                    autoplay="autoplay" muted="muted" preload="auto" playsinline>
                     <source src="/popl/video/mobile/Mobile_Banner_Video_New_04.mp4" type="video/mp4">
                 </video>
            </div>
        

        </div>

        <div class="banner__advantages"> 
            <div class="bannner__links onlyEnglish">
                <div class="bannner__links-thumb">
                    <img id="iconImg-1" src="popl/images/icon/instant_icon_41e3be78-f1b2-407b-9f8c-4b909ae790df_150x.webp">
                </div>
                <div class="banner__links-text">
                    <h5>Instant</h5>
                    <h3>Share anything with a tap or scan</h3>
                </div>
            </div>
            <div class="bannner__links onlyPersian">
                <div class="bannner__links-thumb">
                    <img id="iconImg-1" src="popl/images/icon/instant_icon_41e3be78-f1b2-407b-9f8c-4b909ae790df_150x.webp">
                </div>
                <div class="banner__links-text">
                    <h5>سریع</h5>
                    <h3>فقط با یک اشاره، همه اطلاعاتت رو برای طرف مقابل بفرست</h3>
                </div>
            </div>


            <div class="bannner__links onlyEnglish">
                <div class="bannner__links-thumb">
                    <img id="iconImg-2" src="popl/images/icon/Popl_Icon_2x_1b3ac121-e843-4039-870e-399eb2dabe1f_150x.webp">
                </div>
                <div class="banner__links-text">
                    <h5>Easy</h5>
                    <h3>Others don’t need an app</h3>
                </div>
            </div>
            <div class="bannner__links onlyPersian">
                <div class="bannner__links-thumb">
                    <img id="iconImg-2" src="popl/images/icon/Popl_Icon_2x_1b3ac121-e843-4039-870e-399eb2dabe1f_150x.webp">
                </div>
                <div class="banner__links-text">
                    <h5>ساده</h5>
                    <h3>نیاز نیست طرف مقابل زپ یا اپلیکیشن زپ داشته باشد</h3>
                </div>
            </div>


            <div class="bannner__links onlyEnglish">
                <div class="bannner__links-thumb">
                    <img id="iconImg-3" src="popl/images/icon/compaticle_icon_c821e9bc-e788-4e43-8166-fc3a1238ecce_150x.webp">
                </div> 
                <div class="banner__links-text"> 
                    <h5>Compatible</h5> 
                    <h3>Works on iPhone and Android</h3>
                </div>
            </div>
            <div class="bannner__links onlyPersian">
                <div class="bannner__links-thumb">
                    <img id="iconImg-3" src="popl/images/icon/compaticle_icon_c821e9bc-e788-4e43-8166-fc3a1238ecce_150x.webp">
                </div> 
                <div class="banner__links-text"> 
                    <h5>سازگار با انواع گوشی ها</h5> 
                    <h3>مناسب برای گوشی های اندروید و آیفون</h3>
                </div>
            </div>

        </div>
    </div>
</div>

<partial name="Components/MyHomeSlider/MyHomeSliderScript" />