@inject IWorkContext workContext
@{ 
    var supportRtl = workContext.WorkingLanguage.Rtl;
}

<div class="header">

    <div class="header-main-container">
        <div id="main-nav-container" class="main-nav-container">

            <button aria-label="menu-toggler" class="menu-toggler-button" onclick="my_global.toggler(this)">
                <span></span><span></span><span></span>
            </button>
            <ul id="main_nav" class="main-nav">
                <li>
                    @Loc["zap.header.products"] <span class="icon-down-arrow"></span>
                    <ul>
                        <li class="dropdown_title">@Loc["zap.header.products"]</li>
                        @await Component.InvokeAsync("PoplMenu")
                    </ul>
                </li>
                <li>
                    <a href="/pages/popl-teams" class="  top_link " data-dropdown-rel="for-businesses-and-teams">For Businesses and Teams</a>
                </li>
                <li>
                    Company <span class="icon-down-arrow"></span>
                    <ul>
                        <li class="dropdown_title">Company</li>
                        <li>Pople Teams</li>
                        <li>Pople Pro</li>
                    </ul>
                </li>
                <li>
                    Resources <span class="icon-down-arrow"></span>
                    <ul>
                        <li class="dropdown_title">Resources</li>
                        <li>New to Popl?</li>
                        <li>How to use Popl</li>
                    </ul>
                </li>
            </ul>
            
        </div>


        <div class="header-logo-container">
            <partial name="_PoplLogo" />
        </div>

        <div class="header-search-container">

            <a href="#" target="_self" class="nav-link">
                <b-icon icon="search" :variant="[darkMode ? 'white' : 'dark']" v-b-modal.search-box></b-icon>
            </a>
            <b-modal id="search-box" ref="search-box" :dark-theme="darkMode" @@shown="vm.$refs.searchBoxInput.focus()"
                        hide-footer hide-header size="xl">
                @await Component.InvokeAsync("SearchBox")
            </b-modal>
             
        </div>

        <div class="header-actions-container">
            <ul>
                
                <partial name="_PoplShoppingCartLinks" />

                @await Component.InvokeAsync("PoplHeaderAccountSideBar")

                
                
            </ul>

        </div>

    </div> 
</div>

<partial name="PoplHeaderScript" />
